<template>
  <div class="container">

        <div class="butt-add mb-3">
      <div class="">
        <router-link :to="{ name: 'AddHome' }">
          <v-button><i class="fas fa-plus-circle"></i>เพิ่มบ้านหลังใหม่</v-button>
        </router-link>
      </div>
    </div>
    <div class="card">
      <h2 class="text-center">{{ home.name }}'s House {{ home.no }}</h2>
      <span class="text-center">บัญชีสัญญาเลขที่ {{ home.meter_code }}</span>
      <div class="card-body">
        <h5>รายละเอียด</h5>

        <div class="row pl-4 pr-4">
          <div class="col-8">บัญชีแสดงสัญญา</div>
          <div class="col-4 text-right grey">{{ home.ca }}</div>
          <div class="col-8">รหัสเครื่องวัดไฟฟ้า</div>
          <div class="col-4 text-right grey">{{ home.meter_code }}</div>
          <div class="col-8">สถานะการชำระค่าไฟฟ้า</div>
          <div class="col-4 text-right grey">{{ home.status }}</div>
          <div class="col-8">การรับแจ้งขอรับเอกสารอิเล็กทรอนิกส์</div>
          <div class="col-4 text-right grey">{{ home.document }}</div>
        </div>

        <div class="container">
          <div class="pt-3">
            <router-link :to="{ name: 'HomeAlert' }">
              <v-button type="grey">ยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์</v-button>
            </router-link>
          </div>
          <div class="pt-3">
            <router-link :to="{ name: 'HomeDelAlert' }">
              <v-button><i class="fas fa-minus-circle"></i>ลบบ้านหลังนี้</v-button>
            </router-link>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data: () => ({
    activeNames: ['meenas'],
    home: {
      ca: 123456789,
      home_id: 1,
      account_showing_contract: 'testetsttest',
      meter_code: 25882692,
      name: 'บางซื่อ',
      user_id: 'abcdefghijk123456',
      no: '101/1',
      status: 'ไม่มียอดค้างชำระ',
      document: 'รับแจ้งเอกสาร',
      histories: [
        {
          month_name: 'meena',
          price: 11912,
          status: 1,
          detail: {
            date_text: '10 FEB 63',
            description: 'wek;joidjowideoiwd meena',
          },
        },
        {
          month_name: 'meena2wwww',
          price: 11912,
          status: 1,
          detail: {
            date_text: '10 FEB 63',
            description: 'wek;joidjowideoiwd meena',
          },
        },
        {
          month_name: 'meena3',
          price: 11912,
          status: 1,
          detail: {
            date_text: '10 FEB 63',
            description: 'wek;joidjowideoiwd meena',
          },
        },
      ],
    },
  }),
  async created() {
    await this.initializeLiff('homeSetting')
  },
}
</script>

<style lang="scss" scoped>
.butt-add {
  padding-top: 0px;
  //   bottom: 40px;
}
.card {
  position: relative;
  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }
  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #ffbf3f;
  border: none;
  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }
  h6 {
    color: #ffffff;
    font-size: 20px;
  }
  span {
    color: #ffffff;
  }
  .k {
    color: #909090;
  }
  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
  .card-body {
    padding-bottom: 1.25rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    h5 {
      padding-top: 11px;
      padding-left: 20px;
      padding-bottom: 10px;
      background-color: #eee;
      font-size: 15px;
    }
    .grey {
      color: #909090;
    }
  }
  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }
    i {
      color: #000000;
      font-size: 15px;
    }
  }
  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;
    span {
      color: #000000;
      font-size: 24px;
    }
  }
}
.card-history {
  margin-top: 0;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
}
.btn-info {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: none;
}
.btn-secondary {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
h5 {
  color: #000000;
}
.table {
  border: none;
  margin-bottom: 0rem;
  td {
    border-top: 0px solid #dee2e6;
    padding: 0rem;
  }
}
.table2 {
  border: none;
  margin-bottom: 0rem;
  td {
    border-top: 0px solid #dee2e6;
  }
}
.pricee {
  padding-right: 25px;
}
ul {
  list-style: none;
  margin-left: -27px;
  margin-bottom: 0rem;
  li {
    color: #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d8d8d8;
  }
}
ul li::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 0rem;
}
i {
  margin-right: 9px;
  font-size: 16px;
}
// .el-collapse-item__content {
//     padding-bottom: 0px!important;
// }
.abc {
  margin-bottom: -20px !important;
  color: #5b5d5e;
}
.el-collapse-item__header {
  height: 35px !important;
}
</style>
