<template>
  <div class="container">
    <div class="pt-5 text-center">
      <iomg src="/assets/images/staff-head.png" alt width="200" />
    </div>

    <form @submit.prevent="updateUser" @keydown="form.onKeydown($event)" class="pt-3">
      <div class="form-group" v-for="(input, index) in inputs" :key="index">
        <div class="label text-center">
          {{ input.label }}
          <i>{{ input.sub }}</i>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <!-- <iomg :src="input.icon" width="20" /> -->
              <i :class="input.icon" aria-hidden="true" v-if="input.isFa"></i>
              <iomg :src="input.icon" alt width="16" v-else />

              <!-- <span class="text-danger" v-if="input.require">*</span> -->
            </span>
          </div>

          <input
            :type="input.type"
            :name="input.model"
            :id="input.model"
            class="form-control"
            :class="input.class"
            v-model="form[input.model]"
            :required="input.require"
            :maxlength="input.maxleg"
          />
        </div>
      </div>

      <div class="pt-4">
        <v-button>เข้าสู่ระบบ</v-button>
      </div>
    </form>
    <div class="pt-3">
      <v-button type="grey" @click="closeWindow()">ยกเลิก</v-button>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
export default {
  data: () => ({
    form: new Form({
      outsource_id: '',
    }),
    agree: 0,
    inputs: [
      {
        label: 'User ID',
        model: 'outsource_id',
        type: 'tel',

        class: '',
        isFa: true,
        require: true,
      },
    ],
  }),
  methods: {
    async updateUser() {
      const { data, status } = await this.form.post(this.$path.user.update).catch()
      this.closeWindow()
    },
  },
  async created() {
    await this.initializeLiff('outsource', true, 'เข้าสู่ระบบ Outsource')
  },
  watch: {
    user() {
      this.form.line_user_id = this.user.id
      this.inputs.forEach((el) => {
        this.form[el.model] = this.user.detail[el.model]
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.label {
  color: #ffffff;
}
.container {
  padding-right: 35px;
  padding-left: 35px;
}

.input-group-text {
  box-shadow: 0px 2px 1px #decec3;
  background-color: #ffffff;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: none !important;
  border: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-control {
  box-shadow: 1px 2px 1px #decec3;
  border: none;
}
input {
  border-radius: 7px;
}
.custom-control-label {
  left: 15px;
}
</style>
