<template>
  <div class="container">
    <!-- <arm-dev :data="user" /> -->

    <div class="display-pro">
      <!-- <iomg src="assets/images/register-pic.png" alt=""> -->
    </div>

    <div class="pt-3 text-center">
      <iomg src="/assets/images/register-head.png" alt width="100" />
    </div>
    <div class="d-flex justify-content-center pt-4">
      <!-- <iomg src="assets/images/register-pic.png" alt="" width="40%" /> -->
      <div class="imageProfile" v-if="user">
        <iomg :src="user.image_url" width="130" />
      </div>
    </div>

    <form @submit.prevent="updateUser" @keydown="form.onKeydown($event)" class="pt-5">
      <div class="form-group" v-for="(input, index) in inputs" :key="index">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <!-- <iomg :src="input.icon" width="20" /> -->
              <i :class="input.icon" aria-hidden="true"></i>
              {{ input.label }}
              <span class="text-danger" v-if="input.require">*</span>
            </span>
          </div>
          <input :type="input.type" :name="input.model" :id="input.model" class="form-control" :class="input.class"
            v-model="form[input.model]" :required="input.require" :placeholder="input.place"
            :maxlength="input.leg ? input.leg : false" />

          <span class="text-danger" v-if="form.errors.errors[input.model]">
            *
            <span v-for="(e, index) in form.errors.errors[input.model]" :key="index">{{ e }}</span>
          </span>
        </div>
      </div>

      <div class="pt-4 pb-3">
        <v-button>บันทึก</v-button>
      </div>
      <div class="btn grey-bt" @click="closeWindow('จัดการข้อมูลบ้าน')">จัดการข้อมูลบ้าน</div>
    </form>
  </div>
</template>

<script>
import Form from 'vform'
export default {
  data: () => ({
    form: new Form({
      first_name: '',
      last_name: '',
      tel: '',
      email: '',
    }),
    agree: 0,
    inputs: [
      {
        label: 'ชื่อ',
        model: 'first_name',
        type: 'text',
        icon: 'fa fa-user',
        class: '',
        require: true,
        place: '',
      },
      {
        label: 'นามสกุล',
        model: 'last_name',
        type: 'text',
        icon: 'fa fa-user',
        class: '',
        require: true,
        place: '',
      },
      {
        label: 'อีเมล',
        model: 'email',
        type: 'email',
        icon: 'fa fa-envelope',
        class: '',
        place: '',
      },
      {
        label: 'เบอร์โทรศัพท์',
        model: 'tel',
        type: 'tel',
        icon: 'fas fa-mobile-alt',
        class: '',
        require: true,
        place: '',
        leg: 10,
      },
    ],
  }),
  methods: {
    async updateUser() {
      const { data, status } = await this.form.post(this.$path.user.update).catch()
      if (status == 200) {
        this.$router.push({ name: 'MSuccess' })
      }
    },
  },
  async created() {
    await this.initializeLiff('profile', true, 'จัดการโปรไฟล์')
  },
  watch: {
    user() {
      this.form.line_user_id = this.user.id
      this.inputs.forEach((el) => {
        this.form[el.model] = this.user.detail[el.model]
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  padding-right: 35px;
  padding-left: 35px;
}

i {
  padding-right: 10px;
}

.display-pro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.test {
  background-color: red;
}

.input-group-text {
  box-shadow: 0px 2px 1px #decec3;
  background-color: #ffffff;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: none !important;
  border: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-control {
  box-shadow: 1px 2px 1px #decec3;
  border: none;
}

input {
  border-radius: 7px;
}

.policy-mea {
  text-decoration: underline;
  color: #2c3e50;
  padding-left: 15px;
}

.custom-control-label {
  left: 15px;
}

.btn-primary.disabled,
.btn-primary:disabled {
  padding-top: 11px;
  padding-bottom: 30px;
  color: #fff;
  background-color: #ff9f5d;
  border-color: #ff9f5d;
}

.btn-primary {
  padding-top: 11px;
  padding-bottom: 30px;
  background-color: #f37022;
  border-color: #f37022;
}

.imageProfile img {
  border: 3px solid #f37022;
  border-radius: 50%;
}

.grey-bt {
  color: #fff !important;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.44);
  font-size: 20px;
  min-width: 280px;
  background-color: #636466;
}

span {
  font-size: 17px;
}

button {
  font-size: 20px;
}
</style>
