<template>
  <div class="container" style="min-height: 640px">
    <div class="card">
      <h2 class="text-center">{{ home.name }}</h2>
      <span class="text-center">บัญชีสัญญาเลขที่ {{ home.bill.ca }}</span>
      <div class="card-body">
        <table>
          <tr>
            <td>สำหรับค่าไฟเดือน :</td>
            <td class="text-right">{{ bill_detail.month_name }}</td>
          </tr>
          <tr>
            <td>เลขที่ใบแจ้งค่าไฟฟ้า :</td>
            <td class="text-right">{{ home.bill.invoice_no }}</td>
          </tr>
          <tr>
            <td>ยอดชำระ :</td>
            <td class="text-right">{{ bill_detail.price }}</td>
          </tr>
          <tr>
            <td>จำนวนหน่วยที่ใช้ :</td>
            <td class="text-right">{{ bill_detail.kwh }}</td>
          </tr>
          <tr>
            <td>วันที่จด :</td>
            <td class="text-right">{{ bill_detail.calculate_date_text }}</td>
          </tr>
        </table>

        <div class="pt-4">
          <v-button type="orange" @click="$emit('returnpage', true)">ย้อนกลับ</v-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      bill_detail: 'home/bill_detail',
      home: 'home/home',
    }),
  },
  data: () => ({
    // home: {
    //   home_id: 1,
    //   account_showing_contract: 'testetsttest',
    //   meter_code: 25882692,
    //   name: 'บางซื่อ',
    //   user_id: 'abcdefghijk123456',
    //   no: '101/1',
    //   month_name: 'meena',
    //   price: 11912,
    //   status: 1,
    //   date_text: '10 FEB 63',
    //   description: 'มกราคม 63',
    //   kwh: 1179,
    //   meter_reading_date: '01/06/63 11:37',
    // },
  }),
}
</script>

<style lang="scss" scoped>
.card {
  .head {
    color: #949494;
  }
  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }
  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #ffbf3f;
  border: none;
  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }
  h6 {
    color: #f37022;
    font-size: 20px;
  }
  span {
    color: #ffffff;
  }
  .baht {
    color: #949494;
  }
  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }
    i {
      color: #000000;
      font-size: 15px;
    }
  }
  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;
    span {
      color: #000000;
      font-size: 24px;
    }
  }
}
.card-history {
  margin-top: 0;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
}
.btn-info {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: none;
}
.btn-secondary {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
h5 {
  color: #000000;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
