<template>
  <div class="container">
    <div class="center text-center"></div>

    <div class="frame d-flex">
      <div class="align-self-center text-center kg">
        <i class="fas fa-exclamation"></i>
        <h2 class="pt-5">
          คุณแน่ใจหรือไม่ <br />
          ที่จะขอลบข้อมูลบ้านหลังนี้
        </h2>
        <div class="pt-3">
          <v-button @click="$emit('del', true)">ตกลง</v-button>
        </div>
        <div class="pt-3">
          <v-button type="grey" @click="$emit('cancel', 1)">ยกเลิก</v-button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.kg {
  i {
    font-size: 50px;
    color: #f37022;
  }
}
.container {
  padding-right: 35px;
  padding-left: 35px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
  // position: relative;
  // display: table;
  // height: 100%;
}
.btn-primary {
  padding-top: 8px;
  padding-bottom: 30px;
  background-color: #f37022;
  border-color: #f37022;
  border-radius: 5px;
}
.m-btn {
  position: relative;
  color: #fff;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
}
.btn-grey {
  color: #fff;
  background-color: #636466;
  border-color: #636466;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 25px;
  i {
    font-size: 10px;
  }
}
.btn-orange {
  color: #fff;
  background-color: #f37022;
  border-color: #f37022;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 25px;
  i {
    font-size: 17px;
    margin-right: 5px;
  }
}
.imageProfile img {
  border: 3px solid #f37022;
  border-radius: 50%;
}
h2 {
  font-weight: 500;
  font-size: 9vw;
  line-height: 1;
}
span {
  font-size: 5vw;
}
button {
  font-size: 6vw;
}
</style>
