<template>
  <div v-if="home">
    <div v-if="currentPage == 1" class="container">
      <div class="card">
        <h2 class="text-center">
          {{ home.name }}
        </h2>
        <span class="text-center">บัญชีสัญญาเลขที่ {{ home.bill.ca }}</span>
        <div class="card-body">
          <h5>รายละเอียด</h5>

          <div class="row pl-4 pr-4">
            <div class="col-4 text-left">
              ชื่อผู้ใช้ไฟฟ้า
            </div>
            <div class="col-8 text-right grey">
              {{ home.customer_name }}
            </div>
            <div class="col-4 text-left">
              สถานที่ใช้ไฟฟ้า
            </div>
            <div class="col-8 text-right grey">
              {{ home.address }}
            </div>
            <div class="col-6 text-left">
              บัญชีแสดงสัญญา
            </div>
            <div class="col-6 text-right grey">
              {{ home.bill.ca }}
            </div>
            <div class="col-6 text-left">
              รหัสเครื่องวัดไฟฟ้า
            </div>
            <div class="col-6 text-right grey">
              {{ home.bill.installation }}
            </div>
          </div>

          <div class="container">
            <!-- <div class="pt-3">
              <p v-if="checkEbillRegister.STATUS == 'N'" class="h4 py-4 px-2">
                <span class="h6 text-dark"> 1.</span>
                <span class="h5 text-danger">กรุณาทำการยืนยันตอบกลับตามอีเมลที่ท่านระบุไว้</span>
                <span class="h6 text-dark">
                  หากไม่ทำการยืนยันตอบกลับ จะถือว่าการลงทะเบียนดังกล่าวไม่สมบูรณ์</span
                >
                <br />
                <span class="h6 text-dark">
                  2. หากไม่ได้รับอีเมลยืนยัน โปรดตรวจสอบในจดหมายขยะ หรือ สแปม ของท่านอีกครั้ง
                </span>
              </p>

                 <p v-if="checkEbillRegister.STATUS == 'C'" class="text-danger text-center h4 py-4">
                เครื่องวัดนี้เป็นบิลรวม กรุณาลงทะเบียนผ่านเว็บ MEA e-Bill
              </p>
                    <form @submit.prevent="submitForm()">
                  <div v-if="checkEbillRegister.STATUS == 'E' || checkEbillRegister.STATUS == 'U'">
                <div class="form-group">
                  <label for="email">Email ในการขอรับเอกสารออนไลน์</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    v-model="email"
                    :required="true"
                    placeholder="กรุณากรอก email ในการขอรับเอกสารออนไลน์"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  />
                </div>

                <v-button class="mt-2"
                  >ยืนยันการรับเอกสารอิเล็กทรอนิกส์</v-button
                >
              </div>

              <div v-else-if="checkEbillRegister.STATUS == 'C'"></div>

              <v-button type="grey" v-else
                >ยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์</v-button
              >
              </form>
            </div> -->
            <div class="pt-3">
              <v-button type="danger" class="w-100" @click="currentPage = 2">
                <i class="fas fa-minus-circle" />ลบบ้านหลังนี้
              </v-button>
            </div>
            <div class="pt-3">
              <hr>
              <v-button @click="currentPage = 4">
                <i class="fas fa-plus-circle" />เพิ่มบ้านหลังใหม่ +
              </v-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Del v-if="currentPage == 2" @del="del()" @cancel="currentPage = 1" />
    <Success v-if="currentPage == 3" />
    <AddHome v-if="currentPage == 4" iscomponent />

    <b-modal ref="cancle-ebill-modal" hide-footer title="ยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์" size="lg" centered
      hide-header class="py-5">
      <div class="d-block text-center">
        <h5>เหตุผลในการขอยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์</h5>

        <b-form-select v-model="reason_of_cancle" :options="cancleTexts">
          <template v-slot:first>
            <b-form-select-option :value="null" disabled>
              -- กรุณาเลือกเหตุผลในการยกเลิก --
            </b-form-select-option>
          </template>
        </b-form-select>
      </div>

      <b-button class="mt-3" variant="danger" block :disabled="reason_of_cancle == null" @click="confirmCancleDoc()">
        ยืนยันการยกเลิก
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
import Del from './HomeDelAlert'
import Success from './HomeEDSuccess'
import AddHome from './AddHome'

export default {
  components: {
    Del,
    Success,
    AddHome
  },
  data: () => ({
    currentPage: 1,
    reason_of_cancle: null,
    checkEbillRegister: {},
    email: null,
    cancleTexts: [
      { value: 'A', text: 'ลงทะเบียนผิด' },
      { value: 'B', text: 'ต้องการรับใบเจ้งค่าไฟฟ้า/ใบเสร็จรับเงินเป็นกระดาษ' },
      {
        value: 'C',
        text: 'ต้องการรับใบแจ้งค่าไฟฟ้า/ใบเสร็จรับเงินเป็นกระดาษควบคู่กับเอกสารทาง Email/SMS'
      },
      {
        value: 'D',
        text: 'สมัครแล้วไม่ได้รับใบแจ้งค่าไฟฟ้าทาง Email/SMS'
      },
      {
        value: 'E',
        text: 'สมัครแล้วไม่ได้รับใบเสร็จรับเงินทาง Email/SMS'
      },
      {
        value: 'F',
        text: 'สมัครแล้วได้รับใบแจ้งค่าไฟฟ้าส่งทาง Email/SMS ล่าช้า'
      },
      {
        value: 'G',
        text: 'สมัครแล้วได้รับใบเสร็จรับเงินส่งทาง Email/SMS ล่าช้า'
      },
      {
        value: 'H',
        text: 'อื่น ๆ'
      }
    ],
    activeNames: ['meenas']
  }),
  watch: {
    async user() {
      if (this.email == null) {
        this.email = this.user.detail.email
      }
    }
  },
  methods: {
    ...mapActions({ fetchHome: 'home/show' }),
    async del() {
      const { data, status } = await axios.post(this.$path.home.del(this.meter_no))
      if (status == 200) {
        this.currentPage = 3
      }
    },
    submitForm() {
      if (this.checkEbillRegister.STATUS == 'E' || this.checkEbillRegister.STATUS == 'U') {
        this.requestDoc()
      } else if (this.checkEbillRegister.STATUS == 'C') {
      } else {
        this.requestCancleDoc()
      }
    },
    async requestDoc() {
      const { data, status } = await axios.post(this.$path.ebill.create(this.meter_no)).catch()
      if (status == 200) {
        this.fetchHome(this.meter_no)
        this.checkRegisterEbill()
        // this.currentPage = 2
      }
    },
    async checkRegisterEbill() {
      const { data } = await axios.get(this.$path.ebill.check(this.meter_no)).catch()

      this.checkEbillRegister = data
    },
    async confirmCancleDoc() {
      const { data } = await axios
        .post(this.$path.ebill.cancel(this.meter_no), {
          cancle_reason: this.reason_of_cancle
        })
        .catch()

      this.$swal
        .fire({
          icon: 'success',
          title: 'ทำการยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์สำเร็จ',
          confirmButtonText: 'ตกลง'
        })
        .then((result) => {
          if (result.value) {
            this.$refs['cancle-ebill-modal'].hide()
          }
        })

      this.checkRegisterEbill()
    },
    async requestCancleDoc() {
      this.$refs['cancle-ebill-modal'].show()
    }
  },
  computed: {
    meter_no() {
      let lp = this.$liffParams.get('meter_no')
      let t = lp || this.$route.query.meter_no
      return t
    },
    ...mapGetters({
      home: 'home/home'
    })
  },
  async created() {
    try {
      let init = await this.initializeLiff('homeSetting', true, 'จัดการบ้าน')
      if (!init) {
        return false
      }
      await this.fetchHome(this.meter_no)
      await this.checkRegisterEbill()

      this.email = this.home.ebill_email

      if (this.email == null) {
        this.email = this.user.detail.email
      }
    } catch (error) { }
  }
}
</script>

<style lang="scss" scoped>
.butt-add {
  padding-top: 180px;
  //   bottom: 40px;
}

.card {
  position: relative;

  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }

  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #ffbf3f;
  border: none;

  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }

  h6 {
    color: #f37022;
    font-size: 20px;
  }

  span {
    color: #ffffff;
  }

  .k {
    color: #909090;
  }

  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }

  .card-body {
    padding-bottom: 1.25rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    h5 {
      padding-top: 11px;
      padding-left: 20px;
      padding-bottom: 10px;
      background-color: #eee;
      font-size: 15px;
    }

    .grey {
      color: #909090;
    }
  }

  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }

    i {
      color: #000000;
      font-size: 15px;
    }
  }

  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;

    span {
      color: #000000;
      font-size: 24px;
    }
  }
}

.card-history {
  margin-top: 0;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
}

.btn-info {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: none;
}

.btn-secondary {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

h5 {
  color: #000000;
}

.table {
  border: none;
  margin-bottom: 0rem;

  td {
    border-top: 0px solid #dee2e6;
    padding: 0rem;
  }
}

.table2 {
  border: none;
  margin-bottom: 0rem;

  td {
    border-top: 0px solid #dee2e6;
  }
}

.pricee {
  padding-right: 25px;
}

ul {
  list-style: none;
  margin-left: -27px;
  margin-bottom: 0rem;

  li {
    color: #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d8d8d8;
  }
}

ul li::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 0rem;
}

i {
  margin-right: 9px;
  font-size: 16px;
}

// .el-collapse-item__content {
//     padding-bottom: 0px!important;
// }
.abc {
  margin-bottom: -20px !important;
  color: #5b5d5e;
}

.el-collapse-item__header {
  height: 35px !important;
}
</style>
