<template>
  <div class="container h--history" style="min-height: 640px">
    <div class="card">
      <!-- {{ activeNames }} -->
      <!-- <pre>{{ home }}</pre> -->
      <h2 class="text-center">{{ homes.name }}</h2>
      <span class="text-center">บัญชีสัญญาเลขที่ {{ homes.bill.ca }}</span>
      <!-- <el-button type="primary">Primary</el-button> -->

      <div class="card-body">
        <div class="row head">
          <div class="col-3">เดือน</div>
          <div class="col-3 text-center">
            ยอดชำระ
            <span class="baht">(บาท)</span>
          </div>
          <div class="col-3 text-right">จำนวนหน่วย</div>
          <div class="col-3 text-right">ไฟล์</div>

          <!-- <div class="col-4 text-center">สถานะ</div> -->
        </div>

        <template slot="title">
          <table></table>
        </template>
        <el-collapse v-model="activeNames">
          <el-collapse-item v-for="history in homes.histories" :key="history.month_name" :name="history.month_name">
            <template slot="title">
              <table class="table">
                <div class="row">
                  <div class="col-3">{{ history.month_name }}</div>
                  <div class="col-3 text-center">{{ nFormat(history.price) }}</div>
                  <div class="col-3 text-right">
                    <span class="pr-4 text-dark">
                      {{ history.kwh }}
                    </span>
                  </div>
                  <div class="col-3 text-right">
                    <a :href="goToBIll(history.invoice_no)">
                      <iomg src="/images/pdf.png" width="30" class="mx-1" @click="goToBIll(history.invoice_no)" />
                    </a>
                  </div>

                  <!-- <div
                    class="col-4 text-right pricee"
                  >{{ history.status == 1 ? 'ชำระแล้ว' : 'success' }}</div>-->
                </div>
              </table>
            </template>
            <div class="abc" @click="detail(history.month_name)">
              <div class="d-flex justify-content-between">
                <ul>
                  <li>รายละเอียด</li>
                </ul>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </el-collapse-item>
        </el-collapse>
        <div class="pt-4">
          <v-button type="orange" @click="closeWindow('เช็คยอดค่าไฟ')">ดูสถานะบ้านหลังอื่น</v-button>
        </div>
        <div class="pt-4">
          <v-button type="orange" @click="$emit('returnpage', true)">ย้อนกลับ</v-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      homes: 'home/home',
      bill_detail: 'home/bill_detail',
    }),
  },
  data: () => ({
    activeNames: ['มีนาคม'],
  }),
  methods: {
    detail(monthName) {
      this.setMonthDetail(monthName)
      this.$emit('detailclick', true)
      // if(aa ===d)
    },
    ...mapActions({
      setMonthDetail: 'home/setMonthDetail',
    }),
    goToBIll(invoice) {
      return `https://eservice.mea.or.th/meaeservice/mgtmeter/viewpdf/${this.homes.bill.ca}/${this.homes.bill.installation}/${invoice}?openExternalBrowser=1`

      this.$liff.openWindow({
        url: `https://eservice.mea.or.th/meaeservice/mgtmeter/viewpdf/${this.homes.bill.ca}/${this.homes.bill.installation}/${invoice}`, // URL for another LIFF app
        external: false,
      })
    },
  },
  created() {
    let monthName = ''
    if (this.bill_detail) {
      monthName = this.bill_detail.month_name
    } else {
      monthName = this.homes.histories[0].month_name
    }
    this.activeNames = monthName
  },
}
</script>
<style lang="scss">
.h--history {
  .el-collapse-item__arrow {
    display: none !important;
  }
}
</style>
<style lang="scss" scoped>
.card {
  .head {
    color: #949494;
  }

  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }

  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #ffbf3f;
  border: none;

  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }

  h6 {
    color: #f37022;
    font-size: 20px;
  }

  span {
    color: #ffffff;
  }

  .baht {
    color: #949494;
  }

  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }

  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }

    i {
      color: #000000;
      font-size: 15px;
    }
  }

  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;

    span {
      color: #000000;
      font-size: 24px;
    }
  }
}

.card-history {
  margin-top: 0;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
}

.btn-info {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: none;
}

.btn-secondary {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

h5 {
  color: #000000;
}

.table {
  border: none;
  margin-bottom: 0rem;

  td {
    border-top: 0px solid #dee2e6;
    padding: 0rem;
  }
}

.table2 {
  border: none;
  margin-bottom: 0rem;

  td {
    border-top: 0px solid #dee2e6;
  }
}

.pricee {
  padding-right: 25px;
}

ul {
  list-style: none;
  margin-left: -27px;
  margin-bottom: 0rem;
}

ul li::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 0rem;
}

i {
  margin-right: 20px;
}

// .el-collapse-item__content {
//     padding-bottom: 0px!important;
// }
.abc {
  margin-bottom: -20px !important;
  color: #5b5d5e;
}

.el-collapse-item__header {
  height: 35px !important;
}</style>
