<template>
  <div>
    <div v-if="currentPage == 1" class="container">
      <div v-if="home" class="card">
        <!-- {{kg}} -->
        <!-- {{ meter_no }}
      {{ home.customer_name }}
        {{ home.address }}-->
        <h2 class="text-center">
          {{ home.name }}
        </h2>
        <span class="text-center">บัญชีสัญญาเลขที่ {{ home.bill.ca }}</span>
        <div class="card-body">
          <h5>รายละเอียด</h5>

          <div class="row pl-4 pr-4">
            <div class="col-4 text-left">
              ชื่อผู้ใช้ไฟฟ้า
            </div>
            <div class="col-8 text-right grey">
              {{ home.customer_name }}
            </div>
            <div class="col-4 text-left">
              สถานที่ใช้ไฟฟ้า
            </div>
            <div class="col-8 text-right grey">
              {{ home.address }}
            </div>
            <div class="col-6 text-left">
              บัญชีแสดงสัญญา
            </div>
            <div class="col-6 text-right grey">
              {{ home.bill.ca }}
            </div>
            <div class="col-6 text-left">
              รหัสเครื่องวัดไฟฟ้า
            </div>
            <div class="col-6 text-right grey">
              {{ home.bill.installation }}
            </div>

            <div class="kg" />
            <br>

            <!-- <div class="col-6 pt-2 text-left" v-if="!home.nobill">รอบบิล</div>
            <div class="col-6 text-right grey pt-2" v-if="!home.nobill">
              {{ home.bill.last_date_text_r }}
            </div>
            <div class="col-6 text-left" v-if="!home.nobill">เลขใบแจ้ง</div>
            <div class="col-6 text-right grey" v-if="!home.nobill">{{ home.bill.invoice_no }}</div>
            <div class="col-6 text-left" v-if="!home.nobill">กำหนดชำระ</div>
            <div class="col-6 text-right grey" v-if="!home.nobill">
              {{ home.bill.due_date_text_r }}
            </div>
            <div class="col-6 text-left" v-if="!home.nobill">จำนวนหน่วยที่ใช้ไป</div>
            <div class="col-6 text-right grey" v-if="!home.nobill">{{ home.bill.kwh }} หน่วย</div> -->

            <div v-if="!home.nobill" class="col-6 text-left pt-2">
              จำนวนค้างชำระ
            </div>
            <div v-if="!home.nobill" class="col-6 text-right grey pt-2">
              {{ home.bill.TotalBill }} ฉบับ
            </div>

            <div v-if="!home.nobill" class="col-6 text-left">
              ค่าไฟฟ้า
            </div>
            <div v-if="!home.nobill" class="col-6 text-right grey">
              {{ nFormat(home.bill.TotAmt) }} บาท
            </div>

            <div v-if="!home.nobill" class="col-6 text-left">
              ค่าดำเนินการงดจ่ายไฟ
            </div>
            <div v-if="!home.nobill" class="col-6 text-right grey">
              {{ nFormat(home.bill.DisconnetAmt) }} บาท
            </div>

            <div v-if="!home.nobill" class="col-6 text-left">
              เบี้ยปรับผิดนัด
            </div>
            <div v-if="!home.nobill" class="col-6 text-right grey">
              {{ nFormat(home.bill.TotalInt) }} บาท
            </div>

            <div v-if="!home.nobill" class="col-6 text-left">
              รวมเงินที่ต้องชำระทั้งสิ้น
            </div>
            <div v-if="!home.nobill" class="col-6 text-right">
              <h3 v-if="!home.nobill">
                {{ nFormat(home.bill.description.amount) }}
              </h3>
            </div>
          </div>

          <!-- <div @click="showMore = !showMore" class="p-4" v-if="!home.nobill">
            <button class="btn btn-outline-secondary btn-xs w-100">
              {{ !showMore ? 'ดูเพิ่มเติม' : 'ดูน้อยลง' }}
            </button>
          </div> -->

          <div v-if="home.nobill" class="pt-5 h4 text-center">
            {{ home.message }}
          </div>

          <h5 v-if="!home.nobill">
            ช่องการชำระเงิน
          </h5>
          <div v-if="!home.nobill" class="row pl-4 pr-4">
            <div class="container">
              <div v-for="payment in payments" :key="payment.img" :name="payment.value"
                :class="payment.setDisable ? 'gray-img' : 'x'">
                <input :id="payment.id" v-model="active" type="radio" :name="payment.value" :value="payment.value"
                  checked :disabled="payment.setDisable">
                <label :for="payment.id">
                  <iomg v-if="payment.img == 'qr'" class="pl-3 pt-3" :src="qrGenerate" alt :width="payment.width" />
                  <iomg v-else class="pl-3 pt-3" :src="payment.img" alt :width="payment.width" />

                  <span class="ml-2 text-danger">*{{ payment.alt }}</span>
                </label>

                <div class="kg" />
              </div>
            </div>
          </div>

          <div class="container">
            <div class="pt-5">
              <!-- <v-button @click="openCovid()">
                ตรวจสอบสิทธิส่วนลดค่าไฟ (COVID-19)
              </v-button> -->
            </div>
            <div v-if="!home.nobill" class="pt-3">
              <!-- <v-button @click="sendMessages()">ดำเนินการต่อ</v-button> -->
              <v-button v-if="!home.nobill" @click="showPay()">
                ดำเนินการต่อ
              </v-button>
              <b-modal id="modal-center" v-model="modalShow" hide-header hide-footer centered class="qr-show">
                <p>
                  <iomg :src="qrGenerate" class="w-50" />
                </p>

                <h5>ขั้นตอนการบันทึกรูป QR Code</h5>
                1. กดค้างที่รูป เพื่อทำการบันทึกรูป หรือทำการบันทึกหน้าจอที่ติด QR Code <br>2.
                กดเลือก บันทึกรูปลงในเครื่อง
                <hr>
                <h5>ขั้นตอนการใช้ QR Code ที่ Mobile Banking</h5>
                1. สแกน QR Code เพื่อจ่าย <br>2. เลือกรูปภาพ QR Code <br>3.
                ดำเนินการชำระค่าไฟฟ้า ตามขั้นตอนของ Mobile Banking ของแต่ละธนาคาร
              </b-modal>
            </div>

            <div class="pt-3">
              <v-button @click="setHistory()">
                ดูค่าไฟย้อนหลัง
              </v-button>
            </div>
            <div class="pt-3">
              <v-button type="grey" @click="closeWindow()">
                ปิดหน้าต่างนี้
              </v-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <HomeHistory v-if="currentPage == 2" @detailclick="currentPage = 3" @returnpage="currentPage = 1" />
    <BillDetail v-if="currentPage == 3" @returnpage="currentPage = 2" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import HomeHistory from '../home/HomeHistory'
import BillDetail from '../home/BillDetail'
import axios from 'axios'
export default {
  components: {
    HomeHistory,
    BillDetail
  },
  data: () => ({
    currentPage: 0,
    modalShow: false,
    active: 'rabbit',
    showMore: false,
    payments: [

      {
        img: '/images/linepay_logo_238x78_v4_th-1024x293.png',
        value: 'rabbit',
        width: '100',
        id: 'rabbit',
        setDisable: false,
        alt: 'ค่าธรรมเนียม 5 บาท'
      },
      {
        img: 'qr',
        value: 'qr',
        width: '100',
        id: 'qrcode',
        alt: 'ไม่เสียค่าธรรมเนียม'
      }

    ],
    imageBase64: null,
    linepayUrl: '',
    tel: ''
  }),

  computed: {
    meter_no() {
      let lp = this.$liffParams.get('meter_no')
      let t = lp || this.$route.query.meter_no
      return t
    },
    isHistory() {
      let lp = this.$liffParams.get('history')
      let t = lp || this.$route.query.history
      return t
    },
    bill_more() {
      return !this.home.nobill && this.showMore
    },
    qrGenerate() {
      if (this.home.nobill) {
        return ''
      }
      const zeroPad = (num, places) => String(num).padStart(places, '0')
      let home = this.home
      let price = home.bill.description.amount.toFixed(2).replace('.', '')
      let kwh = zeroPad(home.bill.kwh, 8)
      // console.log(home)

      // return `/api/qrcode?id=${this.home.id}`
      return `https://api.qrserver.com/v1/create-qr-code/?data=|099400016520011%0D${home.bill.ca}${kwh}1%0D${home.bill.invoice_no}${home.bill.due_date_text_th}%0D${price}`
    },
    ...mapGetters({
      home: 'home/home'
    })
  },

  methods: {
    openCovid() {
      let home = this.home
      let urlCovid = `https://ebill.mea.or.th/discount?ca=${home.bill.ca}&ui=${home.bill.installation}`
      this.$liff.openWindow({
        url: urlCovid, // URL for another LIFF app
        external: false
      })
    },
    setHistory() {
      this.currentPage = 2
      this.$router.push({ path: 'payment', query: { meter_no: this.meter_no, history: 1 } })
    },
    async linePayLoad(ui) {
      const { data } = await axios.post(this.$path.linepayGen(ui)).catch()
      this.linepayUrl = data.urlFull
    },
    async showPay() {
      const PAY_TYPE = {
        QR: 'qr',
        LINE_PAY: 'rabbit',
        KPLUS: 'kplus'
      }
      switch (this.active) {
        case PAY_TYPE.QR:
          this.modalShow = !this.modalShow
          break
        case PAY_TYPE.LINE_PAY:
          if (this.linepayUrl) {
            this.$liff.openWindow({
              url: this.linepayUrl, // URL for another LIFF app
              external: false
            })
          }
          break
        case PAY_TYPE.KPLUS:
          await this.kplus()
          break
      }
    },
    async kplus() {
      const _this = this
      this.$swal
        .fire({
          // title: 'ระบุเบอร์โทรศัพท์สำหรับชำระ',
          html: `เบอร์มือถือที่ลงทะเบียนไว้กับ K PLUS <span class="text-danger">*</span><br>
          Mobile number registered with K PLUS <span class="text-danger">*</span>`,
          confirmButtonText: 'จ่ายบิล (Pay)',
          showCancelButton: true,
          cancelButtonText: 'ยกเลิก',
          input: 'tel',
          inputValue: this.home.tel,
          inputAttributes: {
            autocapitalize: 'off'
          },

          preConfirm: input => {
            console.log(input.length)
            if (input.length < 10) {
              this.$swal
                .fire({
                  title: 'เบอร์โทรศัพท์ไม่ถูกต้อง',
                  text: 'เบอร์โทร 10 หลัก',
                  confirmButtonText: 'ตกลง'
                })
                .then((inputx) => {
                  if (inputx.isConfirmed) {
                    _this.kplus()
                  }
                })
            } else {
              _this.tel = input
              _this.pushApi()
            }
          }
        })
        .then(() => { })
    },
    async pushApi() {
      const { data } = await axios.post(this.$path.kplus(this.meter_no), {
        amount: this.home?.bill?.description?.amount ?? 0,
        transNo: this.home?.transNo ?? 0,
        line_user_id: this.user.id,
        tel: this.tel
      }).catch()

      this.$swal.fire({
        html: data.message,
        confirmButtonText: 'ปิดหน้านี้'
      }).then(async result => {
        if (result.isConfirmed) {
          this.loadingStart()
          await this.fetchHome(this.meter_no)
          await this.fetchHomeHistory(this.meter_no)

          if (!this.home.nobill) {
            await this.linePayLoad(this.meter_no)
          }

          if (this.isHistory == '1') {
            this.currentPage = 2
          } else {
            this.currentPage = 1
          }

          this.loadingStop()
        }
      })
    },
    async loadHistory() {
      const { data } = await this.fetchHomeHistory(this.meter_no)

      /// TEST MODE
      // let data = {
      //   message: 'ok'
      // }
      /// END TEST MODE

      if (data.message != 'ok') {
        this.$swal.fire({
          title: data.message,
          confirmButtonText: 'ตกลง'
        }).then(async result => {
          if (result.isConfirmed) {
            this.loadingStart()
            await this.fetchHome(this.meter_no)
            await this.loadHistory()

            if (this.isHistory == '1') {
              this.currentPage = 2
            } else {
              this.currentPage = 1
            }

            this.loadingStop()
          }
        })
      }
    },
    ...mapActions({ fetchHome: 'home/show', fetchHomeHistory: 'home/histories', setHomeTest: 'home/setHomeTest' })
  },
  async created() {
    try {
      let init = await this.initializeLiff('payment', false, 'ชำระค่าไฟ')
    } catch (error) { }

    const _this = this
    // await this.$swal
    //   .fire({
    //     title: 'Home Test',
    //     text: 'Home Test',
    //     confirmButtonText: 'ตกลง',
    //     showCancelButton: true,
    //     cancelButtonText: 'ยกเลิก',
    //     input: 'tel',
    //     inputValue: this.user.detail.tel,
    //     inputAttributes: {
    //       autocapitalize: 'off'
    //     },

    //     preConfirm: async input => {
    //       await _this.setHomeTest(input)
    //     }
    //   })
    //   .then((r) => { })

    this.loadingStart()

    await this.fetchHome(this.meter_no)

    await this.loadHistory()

    if (!this.home.nobill) {
      await this.linePayLoad(this.meter_no)
    }

    if (this.isHistory == '1') {
      this.currentPage = 2
    } else {
      this.currentPage = 1
    }

    if (window.config.showKplus) {
      this.payments.push({
        img: '/images/kplus.png',
        value: 'kplus',
        width: '100',
        id: 'kplus',
        setDisable: false,
        alt: 'ไม่เสียค่าธรรมเนียม'
      })
    }

    this.loadingStop()

    // console.log('load home')
  }
}
</script>

<style lang="scss" scoped>
.gray-img {
  img {
    filter: grayscale(100%);
  }
}

.qr-show {
  padding-top: 200px !important;
}

.card {

  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }

  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #ffbf3f;
  border: none;

  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }

  h6 {
    color: #f37022;
    font-size: 20px;
  }

  span {
    color: #ffffff;
  }

  .kg {
    border-bottom: 1px solid #90909090;
    width: 100%;
  }

  .k {
    color: #909090;
  }

  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;

    h5 {
      padding-top: 11px;
      padding-left: 20px;
      padding-bottom: 10px;
      background-color: #eee;
      font-size: 15px;
    }

    .grey {
      color: #909090;
    }
  }

  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }

    i {
      color: #000000;
      font-size: 15px;
    }
  }

  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;

    span {
      color: #000000;
      font-size: 24px;
    }
  }
}

.card-history {
  margin-top: 0;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
}

.btn-info {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: none;
}

.btn-secondary {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

h5 {
  color: #000000;
}

.table {
  border: none;
  margin-bottom: 0rem;

  td {
    border-top: 0px solid #dee2e6;
    padding: 0rem;
  }
}

.table2 {
  border: none;
  margin-bottom: 0rem;

  td {
    border-top: 0px solid #dee2e6;
  }
}

.pricee {
  padding-right: 25px;
}

ul {
  list-style: none;
  margin-left: -27px;
  margin-bottom: 0rem;

  li {
    color: #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d8d8d8;
  }
}

ul li::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 0rem;
}

i {
  margin-right: 20px;
}

// .el-collapse-item__content {
//     padding-bottom: 0px!important;
// }
.abc {
  margin-bottom: -20px !important;
  color: #5b5d5e;
}

.el-collapse-item__header {
  height: 35px !important;
}

.modal-body {
  img {
    margin: 0 auto;
    display: block;
  }
}
</style>
