<template>
  <div class="container">
    <div class="card">
      <h2 class="text-center">{{ home.name }}'s House {{ home.no }}</h2>
      <span class="text-center">บัญชีสัญญาเลขที่ {{ home.bill.ca }}</span>
      <div class="card-body">
        <div class="row"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    home: {
      home_id: 1,
      account_showing_contract: 'testetsttest',
      meter_code: 25882692,
      name: 'บางซื่อ',
      user_id: 'abcdefghijk123456',
      no: '101/1',
      // (จากบิลค่าไฟล่าสุด)
      bill: {
        due_date_text: '1 พฤษภาคม 2563',
        status: 1, // 1.ค้างชำระ 2.ชำระแล้ว
        ca: 123456789,
        installation: 966444350,
        mru: '57EK0445',
        invoice_no: '0048127528',
        type: 1.2,
        meter_reading_date: '01/06/63 11:37', // format('DD-MM-YYYY HH:mm')
        last_meter_reading_date: '01/05/63 11:37', // format('DD-MM-YYYY HH:mm')
        previous_meter_reading: 6773,
        kwh: 1179,
        description: {
          status: 'ยังไม่ได้ชำระ',
          price: 4987.21,
          service_charge: 38.22,
          ft: 136.76,
          discount: 0.0,
          price_sum_excluding_vat: 4888.67,
          vat_percent: 7,
          vat_sum: 342.21,
          other_discount: [{ name: 'ส่วนลด 3 % ตามนโยบายรัฐบาล', discount: 156.93 }],
          amount: 5073.95,
        },
      },
    },
  }),
  //   async created() {
  //     await this.initializeLiff('1654251675-OmqGK9r1')

  //   }
}
</script>

<style lang="scss" scoped>
.card {
  .head {
    color: #949494;
  }
  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }
  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #ffbf3f;
  border: none;
  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }
  h6 {
    color: #f37022;
    font-size: 20px;
  }
  span {
    color: #ffffff;
  }
  .baht {
    color: #949494;
  }
  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }
    i {
      color: #000000;
      font-size: 15px;
    }
  }
  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;
    span {
      color: #000000;
      font-size: 24px;
    }
  }
}
</style>
