<template>
  <div>
    <div class="container" v-if="currentPage == 1">
      <div class="pt-5 text-center">
        <iomg src="/assets/images/head-confirm.png" alt width="200" />
      </div>
      <form @submit.prevent="register" @keydown="form.onKeydown($event)" class="pt-5">
        <div class="form-group" v-for="(input, index) in inputs" :key="index">
          <div class="label text-center">
            {{ input.label }}
            <i>{{ input.sub }}</i>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <!-- <iomg :src="input.icon" width="20" /> -->

                <iomg :src="input.icon" alt width="16" />

                <!-- <span class="text-danger" v-if="input.require">*</span> -->
              </span>
            </div>

            <input
              :type="input.type"
              :name="input.model"
              :id="input.model"
              class="form-control"
              :class="input.class"
              v-model="form[input.model]"
              :required="input.require"
              :maxlength="input.maxleg"
            />
          </div>
          <span class="text-danger" v-if="form.errors.errors[input.model]">
            *
            <span v-for="(e, index) in form.errors.errors[input.model]" :key="index">{{ e }}</span>
          </span>
        </div>
        <div class="pt-3 text-center">
          <iomg src="/assets/images/receipt.png" alt width="200" />
          <br />
          <i class="st-b">[รูปตัวอย่าง]</i>
        </div>

        <div class="pt-4">
          <v-button :loading="form.busy">ยืนยันข้อมูล</v-button>
        </div>
      </form>

      <div class="pt-3">
        <v-button type="grey" @click="closeWindow()">ยกเลิก</v-button>
      </div>
    </div>
    <home-success v-if="currentPage == 2" :no_home="no_home" @addhome="currentPage = 1" />
  </div>
</template>

<script>
import Form from 'vform'
import axios from 'axios'
import HomeSuccess from './HomeSuccess'
export default {
  components: {
    HomeSuccess,
  },
  props: {
    iscomponent: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    metaInfo() {
      return { title: 'ลงทะเบียนบ้าน' }
    },
    currentPage: 1,
    form: new Form({
      ca: '',
      ui: '',
      customer_name: '',
      address: '',
      name: '',
    }),
    agree: 0,
    inputs: [
      {
        label: 'บัญชีแสดงสัญญา',
        model: 'ca',
        type: 'tel',
        icon: '/assets/images/idcard.png',
        class: '',
        isFa: true,
        require: true,
        maxleg: 9,
      },
      {
        label: 'รหัสเครื่องวัดไฟฟ้า',
        model: 'ui',
        type: 'tel',
        icon: '/assets/images/icon-machine.png',
        class: '',
        require: true,
        maxleg: 8,
      },

      {
        label: 'ตั้งชื่อบ้าน',
        sub: 'ไม่เกิน 10ตัวอักษร',
        model: 'name',
        type: 'text',
        icon: '/assets/images/icon-home.png',
        class: '',
        require: true,
        maxleg: 10,
      },
    ],
  }),
  computed: {
    no_home() {
      let lp = this.$liffParams.get('no_home')
      let t = lp ? lp : this.$route.query.no_home
      let text = ''
      if (t == 'payment') {
        text = 'ชำระค่าไฟ'
      } else if (t == 'report') {
        text = 'แจ้งไฟฟ้าขัดข้อง'
      } else if (t == 'setting') {
        text = 'จัดการข้อมูล'
      } else if (t == 'edoc') {
        text = 'รับเอกสาร'
      }
      return text
    },
  },
  methods: {
    async register() {
      let checkValidate = await this.checkValidate()

      // let checkValidate = true
      // console.log('armkrit')

      if (checkValidate) {
        this.form.user_id = this.user.id
        const { data } = await this.form.post(this.$path.home.create)
        if (data.status == 200) {
          this.currentPage = 2
          this.form.reset()
        } else if (data.status == 400) {
          this.$swal
            .fire({
              icon: 'warning',
              title: 'ขออภัย',
              text: data.message,
              confirmButtonText: 'ตกลง',
            })
            .then(() => {})
        }
      }
    },
    async checkValidate() {
      const { ca, ui } = this.form
      const { data } = await axios.get(this.$path.home.validate(ca, ui))
      let status = data.status
      if (status == '999') {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย',
          text: `เลขบัญชีแสดงสัญญาหรือรหัสเครื่องวัดไฟฟ้า ของคุณไม่ถูกต้อง`,
          confirmButtonText: 'ตกลง',
        })

        return false
      } else if (status == '200') {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย',
          text: `เลขบัญชีแสดงสัญญาและรหัสเครื่องวัดไฟฟ้า ของคุณไม่ตรงกัน`,
          confirmButtonText: 'ตกลง',
        })
        return false
      } else if (status == '100') {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย',
          text: `ข้อมูลของคุณไม่ถูกต้อง`,
          confirmButtonText: 'ตกลง',
        })

        return false
      }

      if (status != '0') {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย',
          text: `มีบางอย่างผิดพลาด : status(${status})`,
          confirmButtonText: 'ตกลง',
        })

        return false
      }
      // console.log('arm')
      return true
    },
  },
  async created() {
    if (!this.iscomponent) {
      await this.initializeLiff('addHome', false, 'เพิ่มบ้านเข้าสู่ระบบ')
    }
    // console.log(this.$path)
  },
}
</script>

<style lang="scss" scoped>
.container {
  padding-right: 35px;
  padding-left: 35px;
}

.input-group-text {
  box-shadow: 0px 2px 1px #decec3;
  background-color: #ffffff;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: none !important;
  border: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-control {
  box-shadow: 1px 2px 1px #decec3;
  border: none;
}
input {
  border-radius: 7px;
}
.custom-control-label {
  left: 15px;
}
</style>
