<template>
  <div class="container">
    <div class="card">
      <!-- <iomg class="card-img-top" src="" alt="Card image cap" /> -->
      <h2 class="text-center">{{ home.name }} {{ home.no }}</h2>
      <span class="text-center">บัญชีสัญญาเลขที่ {{ home.bill.ca }}</span>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4 class="card-title" style="padding-top: 9px;">
              ยอดคงค้าง
              <br />
              <i>{{ home.bill.description.status }}</i>
            </h4>
          </div>
          <div class="col-6">
            <h3 class="price">
              {{ home.bill.description.amount }}
              <span>บาท</span>
              <br />
              <router-link :to="{ name: 'DetailPrice' }">
                <p class="detail text-right">
                  รายละเอียด
                  <i class="fas fa-chevron-right" style="font-size: 9px;"></i>
                </p>
              </router-link>
            </h3>
          </div>

          <!-- display เก็บไว้ -->

          <div class="col-6">
            <h5 class="card-title">
              <div class="row">
                <div class="col-6">เลขที่ใบแจ้ง</div>
                <div class="col-6">
                  <span>{{ home.bill.description.status }}</span>
                </div>
              </div>
            </h5>
          </div>
          <div class="col-6">
            <h5 class="card-title">
              <div class="row">
                <div class="col-7 text-right">จำนวนหน่วย</div>
                <div class="col-5">
                  <span>{{ home.bill.kwh }} ยูนิต</span>
                </div>
              </div>
            </h5>
          </div>
          <div class="col-6">
            <h5 class="card-title">
              <div class="row">
                <div class="col-6">วันที่จด</div>
                <div class="col-6">
                  <span>{{ home.bill.meter_reading_date }}</span>
                </div>
              </div>
            </h5>
          </div>
          <!-- <button @click="sendMessages()">
            ข้ามโฆษณา
          </button>-->

          <div class="col-12">
            <h6 class="text-center">วันครบกำหนดชำระ {{ home.bill.due_date_text }}</h6>

            <div class="pt-2 pb-3">
              <router-link :to="{ name: 'Payment', query: { meter_no: meter_no } }">
                <v-button>ชำระค่าบริการ</v-button>
              </router-link>
            </div>

            <router-link :to="{ name: 'HomeHistory' }">
              <v-button type="grey">ดูข้อมูลย้อนหลัง</v-button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import Swal from 'sweetalert2'
export default {
  computed: {
    meter_no() {
      return this.$route.query.meter_no
    },
    ...mapGetters({
      home: 'home/home',
    }),
  },

  methods: {
    ...mapActions({ fetchHome: 'home/show' }),
  },
  async created() {
    // Swal.fire({

    // })
    // this.openWindow('https://image.shutterstock.com/z/stock-vector--exclamation-mark-exclamation-mark-hazard-warning-symbol-flat-design-style-vector-eps-444778462.jpg')
    let init = await this.initializeLiff('1654251675-OmqGK9r1')
    if (!init) {
      return false
    }
    this.fetchHome(this.meter_no)
  },
}
</script>

<style lang="scss" scoped>
.card {
  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }
  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #ffbf3f;
  border: none;
  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }
  .detail {
    color: #000000;
    font-size: 15px !important;
  }
  h6 {
    color: #f37022;
    font-size: 20px;
  }
  span {
    color: #ffffff;
  }
  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }
    i {
      color: #000000;
      font-size: 15px;
    }
  }
  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;
    span {
      color: #000000;
      font-size: 24px;
    }
  }
}
</style>
