<template>
  <div>
    <div class="text-center all-top">
      <iomg src="/assets/images/welcome.png" alt width="200" />
      <div class="title landing">
        MEASY
      </div>
      <span class="spannn">ยินดีต้อนรับครับ</span>
    </div>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'

export default {
  layout: 'basic',

  metaInfo() {
    return { title: this.$t('home') }
  },

  data: () => ({
    title: window.config.appName
  }),

  // computed: mapGetters({
  //   authenticated: 'auth/check'
  // }),
  created() { }
}
</script>

<style scoped>
.all-top {
  padding-top: 150px;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 85px;
}

.landing {
  color: #f37022;
  font-family: 'db_ozone_xmedium';
}

.spannn {
  font-size: 25px;
}
</style>
