<template>
  <button :type="nativeType" :disabled="loading" :class="{
    [`btn-${type}`]: true,
    'btn-block': block,
    'btn-lg': large,
    'btn-loading': loading
  }" class="btn" :style="`font-size:${fontSize}px;`" @click="$emit('click', true)">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'VButton',

  props: {
    type: {
      type: String,
      default: 'orange'
    },

    fontSize: {
      type: Number,
      default: 20
    },

    nativeType: {
      type: String,
      default: 'submit'
    },

    loading: {
      type: Boolean,
      default: false
    },

    block: {
      type: Boolean,
      default: false
    },

    large: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.btn-orange {
  color: #fff !important;
  background-color: #f37022 !important;
  border-color: #f37022 !important;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 20px;
  min-width: 280px;

  @media screen and (min-width: 319px) {
    min-width: 250px;
  }
}

.btn-grey {
  color: #fff !important;
  background-color: #636466 !important;
  border-color: #636466 !important;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 20px;
  min-width: 280px;

  @media screen and (min-width: 319px) {
    min-width: 250px;
  }

  i {
    font-size: 10px;
  }
}

.btn-grey-o {
  color: #636466 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 20px;
  min-width: 280px;

  @media screen and (min-width: 319px) {
    min-width: 250px;
  }

  i {
    font-size: 10px;
  }
}

.btn-verify {
  color: #fff;
  background-color: #862633 !important;
  border-color: #862633 !important;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 25px;

  i {
    font-size: 17px;
    margin-right: 5px;
  }
}
</style>
