<template>
  <img :src="asset(src)" :width="width" :height="height" :class="classs" />
</template>

<script>
export default {
  name: 'Iomg',
  props: ['src', 'width', 'height', 'classs'],
  methods: {
    asset(src) {
      let url
      try {
        url = new URL(src)
        return url
      } catch (error) {
        let fdir = window.config.fdir
        return fdir ? `/${fdir}${src}` : `${src}`
      }
    },
  },
}
</script>

<style>
</style>
