<template>
  <div class="container">
    <div class="card ">
      <h2 class="text-center">{{ home.name }}'s House {{ home.no }}</h2>
      <span class="text-center">บัญชีสัญญาเลขที่ {{ home.meter_code }}</span>
      <div class="card-body">
        <!-- <table class="table">
          <tr>
            <td>mm</td>
            <td class="text-right">wpqodjp</td>
            <td class="text-right">qwdwqdq</td>
          </tr>
        </table> -->
        <div class="row">
          <div class="col-4">เดือน</div>
        </div>

        <!-- <div class="d-flex justify-content-between">
          <h5>mm</h5>
          <h5>mm</h5>
          <h5>mm</h5>
        </div> -->
        <template slot="title">
          <table></table>
        </template>
        <el-collapse v-model="activeNames">
          <el-collapse-item
            v-for="history in home.histories"
            :key="history.month_name"
            :name="history.month_name"
          >
            <template slot="title">
              <table class="table">
                <div class="row">
                  <div class="col-4">
                    <p>{{ history.month_name }}</p>
                  </div>
                </div>
              </table>
            </template>
            <router-link :to="{ name: 'BillDetail' }">
              <div class="abc">
                <div class="">
                  <div class="row pb-3">
                    <div class="col-4">
                      <router-link :to="{ name: 'DocSuccess' }">
                        <v-button class="sm-b">บิลค่าไฟ</v-button>
                      </router-link>
                    </div>
                    <div class="col-4">
                      <router-link :to="{ name: 'DocSuccess' }">
                        <v-button class="sm-b">ใบเสร็จค่าไฟ</v-button>
                      </router-link>
                    </div>
                    <div class="col-4">
                      <router-link :to="{ name: 'DocSuccess' }">
                        <v-button class="sm-b">ใบแจ้งเตือน</v-button>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </router-link>
          </el-collapse-item>
        </el-collapse>
        <div class="pt-4">
          <v-button type="orange" @click="closeWindow()">ดูสถานะบ้านหลังอื่น</v-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    activeNames: ['meenas'],
    home: {
      home_id: 1,
      account_showing_contract: 'testetsttest',
      meter_code: 25882692,
      name: 'บางซื่อ',
      user_id: 'abcdefghijk123456',
      no: '101/1',
      histories: [
        {
          month_name: 'มีนาคม',
          price: 11912,
          status: 1,
          detail: {
            date_text: '10 FEB 63',
            description: 'wek;joidjowideoiwd meena'
          }
        },
        {
          month_name: 'กุมภาพัทธ์',
          price: 11912,
          status: 1,
          detail: {
            date_text: '10 FEB 63',
            description: 'wek;joidjowideoiwd meena'
          }
        },
        {
          month_name: 'มกราคม',
          price: 11912,
          status: 1,
          detail: {
            date_text: '10 FEB 63',
            description: 'wek;joidjowideoiwd meena'
          }
        }
      ]
    }
  })
}
</script>

<style lang="scss" scoped>
.card {
  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }
  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #f37022;
  border: none;
  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }
  h6 {
    color: #f37022;
    font-size: 20px;
  }
  span {
    color: #ffffff;
  }
  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }
    i {
      color: #000000;
      font-size: 15px;
    }
  }
  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;
    span {
      color: #000000;
      font-size: 24px;
    }
  }
}
.card-history {
  margin-top: 0;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
}
.btn-info {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: none;
}
.btn-secondary {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
h5 {
  color: #000000;
}
.table {
  border: none;
  margin-bottom: 0rem;
  td {
    border-top: 0px solid #dee2e6;
    padding: 0rem;
  }
}
.table2 {
  border: none;
  margin-bottom: 0rem;
  td {
    border-top: 0px solid #dee2e6;
  }
}
.pricee {
  padding-right: 25px;
}
ul {
  list-style: none;
  margin-left: -27px;
  margin-bottom: 0rem;
}
ul li::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 0rem;
}
i {
  margin-right: 20px;
}
// .el-collapse-item__content {
//     padding-bottom: 0px!important;
// }
.abc {
  margin-bottom: -20px !important;
  color: #5b5d5e;
}
.el-collapse-item__header {
  height: 35px !important;
}
.sm-b {
  padding: 0;
  min-width: 0;
  font-size: 16px !important;
}
p {
  padding-top: 13px;
  font-size: 20px;
}
</style>
