<template>
  <div v-if="home">
    <div class="container" v-if="currentPage == 1">
      <div class="card">
        <h2 class="text-center">{{ home.name }}</h2>
        <span class="text-center">บัญชีสัญญาเลขที่ {{ home.bill.ca }}</span>
        <div class="card-body">
          <h5>รายละเอียด</h5>

          <div class="row pl-4 pr-4">
            <div class="col-6">บัญชีแสดงสัญญา</div>
            <div class="col-6 text-right grey">{{ home.bill.ca }}</div>
            <div class="col-6">รหัสเครื่องวัดไฟฟ้า</div>
            <div class="col-6 text-right grey">{{ home.bill.installation }}</div>
          </div>
          <h5>รายการเอกสารอิเล็กทรอนิกส์ที่จะได้รับ</h5>
          <div class="row pl-4 pr-4">
            <div class="container">
              <div class="abc">
                <div class>
                  <ul>
                    <li>
                      e-Receipt
                      <span class="k text-left">ใบเสร็จรับเงิน</span>
                    </li>
                    <li>
                      e-Invoice / e-Tax
                      <span class="k text-left">ใบแจ้งค่าไฟฟ้า ใบกำกับภาษี</span>
                    </li>
                    <li>
                      e-Notification
                      <span class="k text-left">หนังสือเตือนให้ชำระค่าไฟฟ้า</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="pt-5">
              <p v-if="checkEbillRegister.STATUS == 'N'" class="h4 py-4 px-2">
                <span class="h6 text-dark"> 1.</span>
                <span class="h5 text-danger">กรุณาทำการยืนยันตอบกลับตามอีเมลที่ท่านระบุไว้</span>
                <span class="h6 text-dark">
                  หากไม่ทำการยืนยันตอบกลับ จะถือว่าการลงทะเบียนดังกล่าวไม่สมบูรณ์</span
                >
                <br />
                <span class="h6 text-dark">
                  2. หากไม่ได้รับอีเมลยืนยัน โปรดตรวจสอบในจดหมายขยะ หรือ สแปม ของท่านอีกครั้ง
                </span>
              </p>

              <p v-if="checkEbillRegister.STATUS == 'C'" class="text-danger text-center h4 py-4">
                เครื่องวัดนี้เป็นบิลรวม กรุณาลงทะเบียนผ่านเว็บ MEA e-Bill
              </p>
              <form @submit.prevent="submitForm()">
                <div v-if="checkEbillRegister.STATUS == 'E' || checkEbillRegister.STATUS == 'U'">
                  <div class="form-group">
                    <label for="email">Email ในการขอรับเอกสารออนไลน์</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      v-model="form.email"
                      :required="true"
                      placeholder="กรุณากรอก email ในการขอรับเอกสารออนไลน์"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    />
                  </div>

                  <v-button class="mt-2">ยืนยันการรับเอกสารอิเล็กทรอนิกส์</v-button>
                </div>

                <div v-else-if="checkEbillRegister.STATUS == 'C'"></div>

                <v-button type="grey-o" v-else>ยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์</v-button>
              </form>

              <v-button @click="closeWindow()" class="mt-4">ปิดหน้านี้</v-button>
            </div>

            <!-- <div class="pt-3">
              <router-link :to="{ name: 'DocHistory' }">
                <v-button type="grey">ขอรับเอกสารอิเล็กทรอนิกส์ย้อนหลัง</v-button>
              </router-link>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <success v-if="currentPage == 2" :status="home.request" />

    <b-modal
      ref="cancle-ebill-modal"
      hide-footer
      title="ยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์"
      size="lg"
      centered
      hide-header
      class="py-5"
    >
      <div class="d-block text-center">
        <h5>เหตุผลในการขอยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์</h5>

        <b-form-select v-model="form.cancle_reason" :options="cancleTexts">
          <template v-slot:first>
            <b-form-select-option :value="null" disabled
              >-- กรุณาเลือกเหตุผลในการยกเลิก --</b-form-select-option
            >
          </template>
        </b-form-select>
      </div>

      <b-button
        class="mt-3"
        variant="danger"
        block
        @click="confirmCancleDoc()"
        :disabled="form.cancle_reason == null"
        >ยืนยันการยกเลิก</b-button
      >
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
import Success from './DocSuccess'
import Form from 'vform'

export default {
  components: {
    Success,
  },
  data: () => ({
    currentPage: 1,
    activeNames: ['meenas'],
    reason_of_cancle: null,
    checkEbillRegister: {},
    email: null,
    form: new Form({
      email: null,
      cancle_reason: null,
    }),
    cancleTexts: [
      { value: 'A', text: 'Email หรือเบอร์โทรที่ลงทะเบียนไม่ถูกต้อง' },
      { value: 'B', text: 'ต้องการรับเอกสารเป็นกระดาษ' },

      {
        value: 'D',
        text: 'ไม่ได้รับใบแจ้งค่าไฟฟ้าทาง Email / sms',
      },
      {
        value: 'E',
        text: 'ไม่ได้รับใบเสร็จรับเงินทาง Email / sms',
      },
      {
        value: 'F',
        text: 'ได้รับเอกสารช้ากว่ากรณีจดพร้อมแจ้ง',
      },
      {
        value: 'H',
        text: 'เปลี่ยนหมายเลขโทรศัพท์ หรือ Email',
      },
      {
        value: 'I',
        text: 'ไม่ได้เป็นผู้สมัครบริการ',
      },
      {
        value: 'K',
        text: 'ไม่สะดวกในการนำไปชำระเงิน',
      },
      {
        value: 'O',
        text: 'เปลี่ยนผู้ดูแลรับผิดชอบ เช่น บ้านเช่า ขายบ้าน',
      },
      {
        value: 'R',
        text: 'อื่น ๆ',
      },
      {
        value: 'T',
        text: 'ไม่กล้าคลิ๊กลิงค์ใน sms',
      },
      {
        value: 'U',
        text: 'โทรศัพท์มือถือไม่รองรับ เปิดลิงค์ไม่ได้',
      },
      {
        value: 'V',
        text: 'เลิกใช้เบอร์โทร หรือ email ที่ลงทะเบียน',
      },
    ],
  }),
  watch: {
    async user() {
      if (this.form.email == null) {
        this.form.email = this.user.detail.email
      }
    },
  },
  methods: {
    ...mapActions({ fetchHome: 'home/show' }),
    submitForm() {
      if (this.checkEbillRegister.STATUS == 'E' || this.checkEbillRegister.STATUS == 'U') {
        this.requestDoc()
      } else if (this.checkEbillRegister.STATUS == 'C') {
      } else {
        this.requestCancleDoc()
      }
    },
    async requestDoc() {
      const { data, status } = await this.form.post(this.$path.ebill.create(this.meter_no)).catch()
      if (status == 200) {
        this.fetchHome(this.meter_no)
        this.checkRegisterEbill()
        // this.currentPage = 2
      }
    },
    async checkRegisterEbill() {
      const { data } = await this.form.get(this.$path.ebill.checkTest(this.meter_no)).catch()
      this.checkEbillRegister = data
    },
    async confirmCancleDoc() {
      const { data } = await this.form
        .post(this.$path.ebill.cancel(this.meter_no), {
          cancle_reason: this.reason_of_cancle,
        })
        .catch()

      this.$swal
        .fire({
          icon: 'success',
          title: 'ทำการยกเลิกการขอรับเอกสารอิเล็กทรอนิกส์สำเร็จ',
          confirmButtonText: 'ตกลง',
        })
        .then((result) => {
          if (result.value) {
            this.$refs['cancle-ebill-modal'].hide()
          }
        })

      this.checkRegisterEbill()
    },
    async requestCancleDoc() {
      this.$refs['cancle-ebill-modal'].show()
    },
  },
  computed: {
    meter_no() {
      let lp = this.$liffParams.get('meter_no')
      let t = lp ? lp : this.$route.query.meter_no
      return t
    },
    ...mapGetters({
      home: 'home/home',
    }),
  },
  async created() {
    try {
      let init = await this.initializeLiff('eBill', true, 'รับเอกสาร E-Document')
      if (!init) {
        return false
      }
      await this.fetchHome(this.meter_no)
      await this.checkRegisterEbill()

      this.form.email = this.home.ebill_email

      if (this.form.email == null) {
        this.form.email = this.user.detail.email
      }
    } catch (error) {}
  },
}
</script>

<style lang="scss" scoped>
.card {
  .col-5,
  .col-7 {
    padding-right: 5px;
    padding-left: 5px;
  }

  margin-top: 2rem;
  border-radius: 1.25rem;
  background-color: #ffbf3f;
  border: none;

  h2 {
    padding-top: 20px;
    color: #ffffff;
    line-height: 0.5;
  }

  h6 {
    color: #f37022;
    font-size: 20px;
  }

  span {
    color: #ffffff;
  }

  .kg {
    border-bottom: 1px solid #90909090;
    width: 100%;
  }

  .k {
    color: #909090;
  }

  .card-body {
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;

    h5 {
      padding-top: 11px;
      padding-left: 20px;
      padding-bottom: 10px;
      background-color: #eee;
      font-size: 15px;
    }

    .grey {
      color: #909090;
    }
  }

  .card-title {
    span {
      color: #000000;
      font-size: 16px;
    }

    i {
      color: #000000;
      font-size: 15px;
    }
  }

  .price {
    float: right;

    margin-top: 0px;
    font-size: 36px;

    span {
      color: #000000;
      font-size: 24px;
    }
  }
}

.card-history {
  margin-top: 0;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
}

.btn-info {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: none;
}

.btn-secondary {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

h5 {
  color: #000000;
}

.table {
  border: none;
  margin-bottom: 0rem;

  td {
    border-top: 0px solid #dee2e6;
    padding: 0rem;
  }
}

.table2 {
  border: none;
  margin-bottom: 0rem;

  td {
    border-top: 0px solid #dee2e6;
  }
}

.pricee {
  padding-right: 25px;
}

ul {
  list-style: none;
  margin-left: -27px;
  margin-bottom: 0rem;

  li {
    color: #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d8d8d8;
  }
}

ul li::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 0rem;
}

i {
  margin-right: 20px;
}

// .el-collapse-item__content {
//     padding-bottom: 0px!important;
// }
.abc {
  margin-bottom: -20px !important;
  color: #5b5d5e;
}

.el-collapse-item__header {
  height: 35px !important;
}
</style>
