<template>
  <div class="container">
    <div class="text-white text-center pt-4">
      <h3>แจ้งเหตุไฟฟ้าขัดข้อง</h3>
      <h4>{{ home.name }}</h4>
    </div>
    <div class="card p-4" v-if="showDetail">
      บัญชีสัญญาเลขที่ :
      <span class="text-secondary">{{ home.bill.ca }}</span>
      <br />ชื่อผู้ใช้ไฟฟ้า :
      <span class="text-secondary">{{ home.customer_name }}</span>
      <br />สถานที่ใช้ไฟฟ้า :
      <span class="text-secondary">{{ home.address }}</span>
      <br />รหัสเครื่องวัดไฟฟ้า :
      <span class="text-secondary">{{ home.bill.installation }}</span>
    </div>
    <button class="btn btn-light w-100" @click="showDetail = true" v-if="!showDetail">
      แสดงรายละเอียด
    </button>
    <button class="btn btn-light w-100 mt-3" @click="showDetail = false" v-if="showDetail">
      ซ่อนรายละเอียด
    </button>

    <div class="upload-btn-wrapper pt-4">
      <div id="preview" class="cammock btnx2">
        <font-awesome-icon icon="camera" class="bg-mock" />
        <iomg v-if="imgPreview" :src="imgPreview" class="w-100 mt-1" height="400"
          style="object-fit: cover; border-radius: 10px" />

        <iomg v-else :src="imgMock" class="w-100 mt-1" height="400" />
        <input type="file" accept="image/*" capture="camera" @change="onFileChange" class="padd" />
      </div>
    </div>
    <div class="upload-btn-wrapper pt-3 pb-3">
      <div class="row">
        <div class="col-6">
          <label class="btnx my-2 text-center" for="bt2">
            <span class="cam">
              กดที่นี่เพื่อถ่ายรูป
              <i class="fa fa-camera pl-1" aria-hidden="true"></i>
            </span>
            <input type="file" accept="image/*" capture="camera" @change="onFileChange" id="bt2"
              style="position: absoulute; width: 100%; height: 100%; top: 0; left: 0" />
          </label>
        </div>
        <div class="col-6">
          <label for="bt1" class="btnx my-2 text-center" style="position: relative">
            <span class="cam">
              กดที่นี่เพื่อเลือกรูป
              <i class="fas fa-folder-open pl-1"></i>
            </span>

            <input type="file" accept="image/*" @change="onFileChange" id="bt1"
              style="position: absoulute; width: 100%; height: 100%; top: 0; left: 0" />
          </label>
        </div>
      </div>
    </div>

    <form @submit.prevent="reporting" @keydown="form.onKeydown($event)" class="pt-3">
      <span>เบอร์โทรศัพท์</span>
      <br />
      <input v-model="form.TELNO" type="tel" class="form-control" required maxlength="10" minlength="9" />
      กรุณาระบุรายละเอียด
      <br />
      <textarea v-model="form.DESC" class="form-control" required></textarea>
      <br />
      <v-button :loading="loading" class="form-control" :disabled="!(form.DESC && form.TELNO)">ยืนยันการแจ้ง</v-button>
    </form>
  </div>
</template>

<script>
import Form from 'vform'
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'

export default {
  data: () => ({
    form: new Form({
      TELNO: '',
      NOTIFIER_NAME: '',
      METER_NO: '',
      DESC: '',
      IMG: '',
    }),
    loading: false,
    imgPreview: false,
    imgMock: '/assets/images/bg-gray.png',
    showDetail: false,
  }),
  computed: {
    ...mapGetters({
      // ffmToken: 'ffm/token',
      home: 'home/home',
    }),
    meter_no() {
      let lp = this.$liffParams.get('meter_no')
      let t = lp ? lp : this.$route.query.meter_no
      return t
    },
  },
  watch: {
    user() {
      this.form.TELNO = this.user.detail.tel
      this.form.line_user_id = this.user.id
      this.form.meter_no = this.meter_no
    },
  },
  methods: {
    ...mapActions({
      // ffmSaveToken: 'ffm/saveToken',
      fetchHome: 'home/show',
    }),
    onFileChange(e) {
      const file = e.target.files[0]
      this.form.IMG = file
      this.imgPreview = URL.createObjectURL(file)
    },

    async reporting() {
      this.loading = true
      let formData = new FormData()
      let form = this.form
      this.form.keys().forEach((key) => {
        // console.log(key)
        formData.append(key, form[key])
      })

      // await this.ffmSaveToken()

      // console.log(this.ffmToken)
      let _this = this
      const { status, data } = await axios.post(this.$path.ffm.home, formData).catch(() => {
        _this.$swal
          .fire({
            icon: 'error',
            title: 'แจ้งไฟฟ้าขัดข้องไม่สำเร็จ',
            text: `ขออภัยในความไม่สะดวก ไม่สามารถแจ้งไฟฟ้าขัดข้องได้ กรุณาติดต่อ MEA Call Center โทร 1130`,
            confirmButtonText: 'ตกลง',
          })
          .then((result) => {
            if (result.value) {
              _this.closeWindow()
            }
          })
        _this.loading = false
      })

      this.loading = false

      // console.log({ status, data })
      if (status == 200) {
        // console.log('success')
        this.$swal
          .fire({
            icon: 'success',
            title: 'ทำการแจ้งไฟฟ้าขัดข้องสำเร็จ',
            text: `รหัสอ้างอิง : ${data.failId}`,
          })
          .then((result) => {
            if (result.value) {
              this.closeWindow()
            }
          })
      }
    },
  },
  async created() {
    let init = await this.initializeLiff('reportHome', true, 'แจ้งไฟฟ้าขัดข้องด้วยมิเตอร์ไฟฟ้า')
    if (!init) {
      return false
    }
    this.fetchHome(this.meter_no)
  },
}
</script>

<style lang="scss">
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  // display: inline-block;
}

.btnx {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 20px;
  // font-weight: bold;
  width: 100%;
}

.btnx2 {
  border: 2px solid gray;
  color: gray;
  // background-color: white;
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.cam {
  font-size: 16px;
}

.cammock {
  position: relative;
}

.bg-mock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  opacity: 0.3;
  z-index: 999;
  pointer-events: none;
}

.padd {
  padding-bottom: 60%;
}
</style>
