<template>
  <div class="container">
    <div class="text-white text-center pt-4">
      <h3>แจ้งเหตุไฟฟ้าขัดข้อง</h3>
    </div>
    <div class="upload-btn-wrapper pt-4">
      <div id="preview" class="cammock btnx2">
        <font-awesome-icon icon="camera" class="bg-mock" />

        <iomg v-if="imgPreview" :src="imgPreview" class="w-100 mt-1" height="400"
          style="object-fit: cover; border-radius: 10px" />

        <iomg v-else :src="imgMock" class="w-100 mt-1" height="400" />
        <input type="file" accept="image/*" capture="camera" @change="onFileChange" class="padd" />
      </div>
    </div>
    <div class="upload-btn-wrapper pt-3 pb-3">
      <div class="row">
        <div class="col-6">
          <label class="btnx my-2 text-center" for="bt2">
            <span class="cam">
              กดที่นี่เพื่อถ่ายรูป
              <i class="fa fa-camera pl-1" aria-hidden="true"></i>
            </span>
            <input type="file" accept="image/*" capture="camera" @change="onFileChange" id="bt2"
              style="position: absoulute; width: 100%; height: 100%; top: 0; left: 0" />
          </label>
        </div>
        <div class="col-6">
          <label for="bt1" class="btnx my-2 text-center" style="position: relative">
            <span class="cam">
              กดที่นี่เพื่อเลือกรูป
              <i class="fas fa-folder-open pl-1"></i>
            </span>

            <input type="file" accept="image/*" @change="onFileChange" id="bt1"
              style="position: absoulute; width: 100%; height: 100%; top: 0; left: 0" />
          </label>
        </div>
      </div>
    </div>

    <button class="btn btn-orange" @click="getLocation()" :class="{
          'btn-loading': loadingLo,
        }">
      + Add Location
    </button>

    <iframe width="100%" class="mt-4" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      :src="`https://maps.google.com/maps?q=${form.LAT},${form.LONG}&hl=th&z=14&amp;output=embed`"
      v-if="form.LAT && form.LONG"></iframe>

    <form @submit.prevent="reporting" @keydown="form.onKeydown($event)" class="pt-3">
      <span>เบอร์โทรศัพท์</span>
      <br />
      <input v-model="form.TELNO" class="form-control" type="tel" required maxlength="10" minlength="9" />
      กรุณาระบุรายละเอียด
      <br />
      <textarea v-model="form.DESC" class="form-control" required></textarea>
      <br />
      <v-button :loading="loading" class="form-control"
        :disabled="!(form.DESC && form.TELNO && form.LAT && form.LONG)">ยืนยันการแจ้ง</v-button>
    </form>
  </div>
</template>

<script>
import Form from 'vform'
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'

export default {
  data: () => ({
    form: new Form({
      TELNO: '',
      LAT: '',
      LONG: '',
      DESC: '',
      IMG: '',
      line_user_id: '',
    }),
    loading: false,
    loadingLo: false,
    imgPreview: false,
    imgMock: '/assets/images/bg-gray.png',
  }),
  // computed: {
  //   ...mapGetters({
  //     ffmToken: 'ffm/token',
  //   }),
  // },
  watch: {
    user() {
      this.form.TELNO = this.user.detail.tel
      this.form.line_user_id = this.user.id
    },
  },
  methods: {
    // ...mapActions({
    //   ffmSaveToken: 'ffm/saveToken',
    // }),
    onFileChange(e) {
      const file = e.target.files[0]
      this.form.IMG = file
      this.imgPreview = URL.createObjectURL(file)
    },
    async getLocation() {
      this.loadingLo = true
      let options = {
        enableHighAccuracy: 0,
        timeout: Infinity,
        maximumAge: 0,
      }
      const coordinates = await this.$getLocation(options)
      this.form.LAT = coordinates.lat
      this.form.LONG = coordinates.lng

      // this.form.LAT = 18.7942459
      // this.form.LONG = 98.9564772

      this.loadingLo = false
    },
    async reporting() {
      this.loading = true
      let formData = new FormData()

      let form = this.form
      this.form.keys().forEach((key) => {
        // console.log(key)
        formData.append(key, form[key])
      })
      let _this = this
      const { status, data } = await axios.post(this.$path.ffm.outage, formData).catch(() => {
        _this.$swal
          .fire({
            icon: 'error',
            title: 'แจ้งไฟฟ้าขัดข้องไม่สำเร็จ',
            text: `ขออภัยในความไม่สะดวก ไม่สามารถแจ้งไฟฟ้าขัดข้องได้ กรุณาติดต่อ MEA Call Center โทร 1130`,
            confirmButtonText: 'ตกลง',
          })
          .then((result) => {
            if (result.value) {
              _this.closeWindow()
            }
          })
        _this.loading = false
      })

      this.loading = false

      // console.log({ status, data })
      if (status == 200) {
        // console.log('success')
        this.$swal
          .fire({
            icon: 'success',
            title: 'ทำการแจ้งไฟฟ้าขัดข้องสำเร็จ',
            text: `รหัสอ้างอิง : ${data.failId}`,
            confirmButtonText: 'ตกลง',
          })
          .then((result) => {
            if (result.value) {
              this.closeWindow()
            }
          })
      } else {
        // console.log('failed')
      }
    },
  },
  async created() {
    await this.initializeLiff('reportOutage', true, 'แจ้งไฟฟ้าขัดข้องนอกสถานที่')
  },
}
</script>

<style lang="scss">
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  // display: inline-block;
}

.btnx {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 20px;
  // font-weight: bold;
  width: 100%;
}

.btnx2 {
  border: 2px solid gray;
  color: gray;
  // background-color: white;
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.cam {
  font-size: 16px;
}

.cammock {
  position: relative;
}

.bg-mock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  opacity: 0.3;
  z-index: 999;
  pointer-events: none;
}

.padd {
  padding-bottom: 60%;
}
</style>
