<template>
  <div>Delete Success</div>
</template>

<script>
import axios from 'axios'
export default {
  async created() {
    await this.initializeLiff('userDelete', true, 'ลงทะเบียนรับสติกเกอร์')
  },
  watch: {
    async user() {
      const { data } = await axios.get(this.$path.user.delete(this.user.id))
    },
  },
}
</script>

<style>
</style>
