<template>
     <div class="container mt-5">

       <div class="text-center">
         <h2>กรุณายืนยัน OTP</h2>
       <iomg src="/images/27.png" width="70%" />

       </div>
       Ref ของคุณคือ {{ ref }}, เบอร์โทรศัพท์ {{ tel }}

       <div style="display: flex; flex-direction: row; margin-left: -13px;">
    <v-otp-input
      ref="otpInput"
      input-classes="otp-input"
      separator=""
      :num-inputs="6"
      :should-auto-focus="true"
      :is-input-num="true"
      @on-change="handleOnChange"
      @on-complete="handleOnComplete"
    />

  </div>


   <!-- <input type="tel" v-model="otp" placeholder="OTP" class="form-control" maxlength="6" > -->
   <hr>
        <button class="btn btn-success" :disabled="otp.length < 6" @click="confirmOTP()">
          ยืนยัน OTP
        </button>
        <button class="btn btn-secondary" @click="resendOTP()" :disabled="countDown > 0">
          ส่งรหัส OTP อีกครั้ง
        </button>

        <button class="edit btn btn-warning" @click="editEmail()">เปลี่ยนเบอร์</button>
    <hr>

           <p class="text-danger" v-if="countDown>1">คุณจะสามารถขอ OTP ใหม่ได้ภายใน <span class="bg-white">{{countDown}}</span> วินาที</p>

      </div>
</template>

<script>
import axios from 'axios'
export default {
data:()=>({
  ref:'',
  otp:123456,
  tel:'',
  countDown: 0,
  countDownSet: 15,
  page: 0
}),
methods:{
     handleOnComplete(value) {
      console.log('OTP completed: ', value);
    },
    handleOnChange(value) {
      this.otp = value
      console.log('OTP changed: ', value);
    },
    handleClearInput() {
      this.$refs.otpInput.clearInput();
      this.$refs.otpInput.$el.focus()
    },
    resendOTP(){
            this.$refs.otpInput.clearInput();
      this.countDown = this.countDownSet
        this.countDownSet  = this.countDownSet * 2
      this.countDownTimer()
        this.loadOTP()

    },
      countDownTimer() {
                if(this.countDown > 0) {
                    setTimeout(() => {
                        this.countDown -= 1
                        this.countDownTimer()
                    }, 1000)
                }
            },
            async confirmOTP(){
              const {data} = await axios.post(this.$path.user.otpConfirm(this.user.id),{
                ref:this.ref,
                otp:this.otp
              })

              if(data.type == 'fail'){
                this.$swal.fire(
                  {
                    icon: 'warning',
                    text: data.message
                  }
                )
              }else{
                this.$emit('next',true)
              }
              this.otp = ''
              this.handleClearInput()

            },
  async loadOTP(){
    const {data} = await axios.post(this.$path.user.otp(this.user.id))
    this.ref = data.ref
    this.tel = data.tel
    this.$refs.otpInput.$el.focus()

  },
  editEmail(){
    this.$swal.fire({
  title: 'แก้ไขเบอร์โทรศัพท์',
  input: 'tel',
  inputAttributes: {
    autocapitalize: 'off'
  },
  showCancelButton: true,
  confirmButtonText: 'ยืนยัน',
  cancelButtonText:'ยกเลิก',
  showLoaderOnConfirm: true,
  preConfirm: async (tel) => {

    if(tel.length != 10){
        this.$swal.showValidationMessage("เบอร์โทรศัพท์ของคุณไม่ถูกต้อง");
    }else{
    const { data} = await axios.post(this.$path.user.update, {tel,line_user_id: this.user.id})
      if(data){
        this.loadOTP()
      }
    }
  },
  allowOutsideClick: () => !Swal.isLoading()
})
  }
},
created(){
  this.loadOTP()
}
}
</script>

<style lang="scss">
  .otp-input {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    &.error {
      border: 1px solid red !important;
    }
  }
  .otp-input::-webkit-inner-spin-button,
  .otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
