<template>
  <div class="container">
    <div class="center text-center"></div>

    <div class="frame d-flex">
      <div class="align-self-center text-center kg">
        <h2>ขอบคุณสำหรับการลงทะเบียน</h2>

        <!-- <br /> -->
        <span>กรุณากรอกข้อมูลบัญชีแสดงสัญญาและรหัสเครื่องวัดฯ</span>
        <!-- <button>เพิ่มบ้านเลขที่</button> -->
        <div class="pt-4">
          <v-button class="m-btn btn-orange" @click="$emit('addhome', true)">
            <font-awesome-icon
              icon="plus-circle"
              style="padding-top: 5px;
    margin-right: 8px;
    font-size: 24px;"
            />เพิ่มบ้านเลขที่</v-button
          >
        </div>

        <div class="pt-3">
          <v-button class="m-btn btn-grey" @click="closeWindow()">ยังไม่พร้อมตอนนี้</v-button>
        </div>
        <!-- <button @click="closeWindow()">ยังไม่พร้อมตอนนี้</button> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.container {
  padding-right: 35px;
  padding-left: 35px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
  // position: relative;
  // display: table;
  // height: 100%;
}
.btn-primary {
  padding-top: 8px;
  padding-bottom: 30px;
  background-color: #f37022;
  border-color: #f37022;
  border-radius: 5px;
}
.m-btn {
  position: relative;
  color: #fff;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
}
.btn-grey {
  color: #fff;
  background-color: #636466;
  border-color: #636466;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 25px;
  i {
    font-size: 10px;
  }
}
.btn-orange {
  color: #fff;
  background-color: #f37022;
  border-color: #f37022;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 25px;
  i {
    font-size: 17px;
    margin-right: 5px;
  }
}
.imageProfile img {
  border: 3px solid #f37022;
  border-radius: 50%;
}
h2 {
  font-weight: 500;
  font-size: 9vw;
  line-height: 0.5;
}
span {
  font-size: 5vw;
}
button {
  font-size: 6vw;
}
</style>
