<template>
  <div>
    <div v-if="currentPage == 1">
      <div class="head-sticker">ร่วมกิจกรรมรับสติกเกอร์ไลน์</div>

      <div class="container">
        <div class="display-pro">
          <!-- <iomg src="assets/images/register-pic.png" alt=""> -->
        </div>

        <div class="pt-3 text-center">
          <iomg src="/assets/images/register-head.png" alt width="100" />
        </div>
        <div class="d-flex justify-content-center pt-4">
          <!-- <iomg src="assets/images/register-pic.png" alt="" width="40%" /> -->
          <div class="imageProfile" v-if="user">
            <iomg :src="user.image_url" width="130" />
          </div>
        </div>

        <form @submit.prevent="register" @keydown="form.onKeydown($event)" class="pt-5">
          <div class="form-group" v-for="(input, index) in inputs" :key="index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <font-awesome-icon :icon="input.icon" />

                  <span style="padding-left: 10px">{{ input.label }}</span>
                  <span class="text-danger" v-if="input.require">*</span>
                </span>
              </div>
              <input
                :type="input.type"
                :name="input.model"
                :id="input.model"
                class="form-control"
                :class="input.class"
                v-model="form[input.model]"
                :required="input.require"
                :pattern="input.pattern"
                :maxlength="input.max"
              />
            </div>
            <span class="text-danger" v-if="form.errors.errors[input.model]">
              *
              <span v-for="(e, index) in form.errors.errors[input.model]" :key="index">{{
                e
              }}</span>
            </span>
          </div>

          <div class="pt-4">
            <v-button :loading="form.busy" class="form-control" fire>หน้าถัดไป</v-button>
          </div>
        </form>
      </div>
    </div>
    <div v-if="currentPage == 2">
      <RegisterAl />
    </div>
    <div v-if="currentPage == 3">
      <RegisterThankyou @addhome="currentPage = 4" />
    </div>
    <div v-if="currentPage == 4">
      <AddHome iscomponent />
    </div>
    <div v-if="currentPage == 5">
      <OTP @next="currentPage = 2" />
    </div>
    <div v-if="currentPage == 6">
      <div class="card m-3">
        <div class="card-body">
          <div class="my-4">
            <div class="text-center">
              <iomg src="/assets/images/mea_logo.png" width="130" />
            </div>

            <div class="contents">
              <h3 class="text-center">ข้อตกลงและเงื่อนไข</h3>
              <p style="text-indent: 15px">
                การคลิกตกลงเพื่อยอมรับเข้าร่วมกิจกรรมนี้
                ถือว่าท่านยินยอมให้ข้อมูลที่เป็นจริงในแบบสอบถามกับการไฟฟ้านครหลวง
                และยินยอมให้การไฟฟ้านครหลวงจัดเก็บข้อมูลดังกล่าว
                เพื่อใช้ประชาสัมพันธ์ผลิตภัณฑ์/การบริการและกิจกรรมทางการตลาดของการไฟฟ้านครหลวงให้กับท่านในอนาคตต่อไปได้
                โดยการไฟฟ้านครหลวงจะไม่มีการเปิดเผยข้อมูลของท่านให้แก่บุคคลภายนอก
              </p>

              <div class="pt-2">
                <v-button fire @click="currentPage = 1">ยินยอม</v-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'
import RegisterAl from './RegisterAl'
import AddHome from '../home/AddHome'
import OTP from './otp'

import RegisterThankyou from './RegisterThankyou'

export default {
  metaInfo() {
    return { title: 'ลงทะเบียน' }
  },
  components: {
    RegisterAl,
    RegisterThankyou,
    AddHome,
    OTP,
  },
  data: () => ({
    currentPage: 0,
    show: false,
    form: new Form({
      first_name: '',
      last_name: '',
      tel: '',
      email: '',
      line_user_id: 'arm',
    }),
    agree: 0,
    inputs: [
      {
        label: 'ชื่อ',
        model: 'first_name',
        type: 'text',
        icon: 'user',
        class: '',
        require: true,
        max: 40,
      },
      {
        label: 'นามสกุล',
        model: 'last_name',
        type: 'text',
        icon: 'user',
        class: '',
        require: true,
        max: 40,
      },
      {
        label: 'อีเมล',
        model: 'email',
        type: 'email',
        icon: 'envelope',
        class: '',
        require: true,
        pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$',
      },
      {
        label: 'เบอร์โทรศัพท์',
        model: 'tel',
        type: 'tel',
        icon: 'mobile',
        class: '',
        require: true,
        max: 10,
      },
    ],
  }),
  methods: {
    ...mapActions({
      checkRegister: 'auth/checkRegister',
    }),
    async register() {
      this.form.line_user_id = this.user.id
      const { data, status } = await this.form.post(this.$path.user.register)
      if (window.console) {
        console.clear()
      }
      if (status == 200) {
        let form = this.form
        this.currentPage = 5
      }
    },
  },
  async created() {
    await this.initializeLiff('registerSticker', true, 'ลงทะเบียนรับสติกเกอร์')

    // if (!friendShip.friendFlag) {
    //   alert('กรุณาเพิ่มเพื่อนก่อนใช้งาน')
    //   window.location = 'https://line.me/R/ti/p/@meathailand'
    // }

    // this.loadingStart()
  },
  watch: {
    async user() {
      const { data } = await axios.get(this.$path.user.registerCheck(this.user.id))

      if (data.result.isRegistered) {
        if (data.result.verify) {
          this.currentPage = 2
        } else {
          this.currentPage = 5
        }
        this.loadingStop()
      } else {
        this.currentPage = 6
      }

      this.form.email = this.user.email
    },
  },
}
</script>

<style lang="scss" scoped>
.content {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  p {
    text-indent: 20px;
    color: #555;
  }
}
.container {
  padding-right: 35px;
  padding-left: 35px;
}
i {
  padding-right: 10px;
}
.display-pro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.test {
  background-color: red;
}
.input-group-text {
  box-shadow: 0px 2px 1px #decec3;
  background-color: #ffffff;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: none !important;
  border: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.form-control {
  // box-shadow: 1px 2px 1px #decec3;
  border: none;
}
input {
  border-radius: 7px;
}
.policy-mea {
  // text-decoration: underline;
  color: #2c3e50;
  padding-left: 15px;
}
.custom-control-label {
  left: 15px;
}
.btn-primary.disabled,
.btn-primary:disabled {
  padding-top: 11px;
  padding-bottom: 30px;
  color: #fff;
  background-color: #ff9f5d;
  border-color: #ff9f5d;
}

.btn-primary {
  padding-top: 11px;
  padding-bottom: 30px;
  background-color: #f37022;
  border-color: #f37022;
}
.imageProfile img {
  border: 3px solid #f37022;
  border-radius: 50%;
}
span {
  font-size: 17px;
}
button {
  font-size: 20px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #f37022;
  background-color: #f37022;
}
.head-sticker {
  padding: 20px 10px;
  color: #fff;
  background-color: #f37931;
  font-size: 30px;
  text-align: center;
}
</style>
