<template>
  <div class="container">
    <div class="center text-center"></div>

    <div class="frame d-flex">
      <div class="align-self-center text-center kg">
        <iomg src="/assets/images/mascot.png" alt width="150" />
        <h2 class="pt-5">คุณได้ทำการลงทะเบียนไว้เรียบร้อยแล้ว</h2>

        <div class="pt-3">
          <v-button @click="openSticker()">รับสติกเกอร์</v-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  methods: {
    openSticker() {
      this.$liff.openWindow({
        url: 'https://line.me/R/shop/sticker/detail/24779',
        external: false,
      })
    },
    async grantSticker() {
      this.loadingStart()
      let friendShip = await this.$liff.getFriendship()
      console.log(friendShip)
      if (!friendShip.friendFlag) {
        this.loadingStop()
        this.$swal
          .fire({
            icon: 'warning',
            text: 'กรุณาเป็นเพื่อนหรือทำการปลดบล็อคกับ MEA Connect',
            confirmButtonText: 'ตกลง',
          })
          .then(() => {
            this.$liff.openWindow({
              url: 'https://line.me/R/ti/p/@meathailand',
              external: false,
            })
          })
        return false
      } else {
        const { data } = await axios.get(this.$path.user.grantSticker(this.user.id))
      }
      this.loadingStop()
    },
  },
  async created() {
    await this.grantSticker()
  },
}
</script>

<style lang="scss" scoped>
.container {
  padding-right: 35px;
  padding-left: 35px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
  // position: relative;
  // display: table;
  // height: 100%;
}
.btn-primary {
  padding-top: 8px;
  padding-bottom: 30px;
  background-color: #f37022;
  border-color: #f37022;
  border-radius: 5px;
}
.m-btn {
  position: relative;
  color: #fff;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
}
.btn-grey {
  color: #fff;
  background-color: #636466;
  border-color: #636466;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 25px;
  i {
    font-size: 10px;
  }
}
.btn-orange {
  color: #fff;
  background-color: #f37022;
  border-color: #f37022;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.44);
  font-size: 25px;
  i {
    font-size: 17px;
    margin-right: 5px;
  }
}
.imageProfile img {
  border: 3px solid #f37022;
  border-radius: 50%;
}
h2 {
  font-weight: 500;
  font-size: 9vw;
  line-height: 1;
}
span {
  font-size: 5vw;
}
button {
  font-size: 6vw;
}
</style>
