<template>
  <div>
    <card>
      <div class="jumbotron">
        <h1 class="display-4">CMS Users</h1>
        <p class="lead">จัดการผู้ใช้งานระดับ Admin บน CMS</p>
        <p class="lead">ผุ้ใช้งานในระบบระดับ Admin มีทั้งหมด {{ count }} รายการ</p>
        <span class="lead text-danger"
          >*ไม่อนุญาตให้จัดการบทบาท User Email admin@measy.mea.or.th
          <br />
        </span>
      </div>

      <div class="row">
        <div class="col-md-3">
          <form @submit.prevent="add" @keydown="form.onKeydown($event)">
            <card>
              <div role="group">
                <label for="input-live">Name:</label>
                <b-form-input
                  id="input-live"
                  v-model="form.first_name"
                  aria-describedby="input-live-help input-live-feedback"
                  placeholder="Enter user first name"
                  trim
                ></b-form-input>
              </div>

              <div role="group" class="mt-2">
                <label for="input-live">Last Name:</label>
                <b-form-input
                  id="input-live"
                  v-model="form.last_name"
                  aria-describedby="input-live-help input-live-feedback"
                  placeholder="Enter user last name"
                  trim
                ></b-form-input>
              </div>

              <div role="group" class="mt-2">
                <label for="input-live">Email:</label>
                <b-form-input
                  id="input-live"
                  v-model="form.email"
                  aria-describedby="input-live-help input-live-feedback"
                  placeholder="Enter user email"
                  trim
                ></b-form-input>
              </div>

              <div role="group" class="mt-2">
                <label for="input-live">Password:</label>
                <b-form-input
                  id="input-live"
                  v-model="form.password"
                  aria-describedby="input-live-help input-live-feedback"
                  placeholder="Enter user password"
                  trim
                  type="password"
                ></b-form-input>
                <hr />
                <div class="button-create">
                  <v-button :loading="form.busy" class="w-100">Create User</v-button>

                  <!-- <button class="btn btn-primary w-100">Create User</button> -->
                </div>
              </div>
            </card>
          </form>
        </div>
        <div class="col-md-9">
          <pagination :data="users" @pagination-change-page="fetch"></pagination>
          <input
            type="text"
            v-model="q"
            class="form-control mb-3"
            @input="fetch()"
            placeholder="Keyword ..."
          />

          <b-table striped hover :items="users.data" :fields="fields">
            <template v-slot:cell(action)="data">
              <button
                class="btn btn-danger"
                :disabled="data.item.id == user.id || data.item.email == 'admin@measy.mea.or.th'"
                @click="del(data.item.id)"
              >
                ลบออกจาก Admin
              </button>
            </template>
          </b-table>

          <pagination :data="users" @pagination-change-page="fetch"></pagination>
        </div>
      </div>
    </card>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import Form from 'vform'

export default {
  data: () => ({
    users: {},
    count: 0,
    q: '',
    fields: [
      { key: 'id', sortable: true, sortDirection: 'asc' },
      'first_name',
      'last_name',
      'email',
      'line_user_id',
      { key: 'created_at_text', label: 'Created At' },
      'action'
    ],
    form: new Form({
      first_name: '',
      last_name: '',
      email: '',
      tel: '',
      password: ''
    })
  }),
  methods: {
    async fetch(page = 1) {
      const { data } = await axios.get(this.$path.admin.users(page, this.q, true)).catch()
      this.users = data.users
      this.count = data.count
    },
    async add() {
      const { data } = await this.form.post(this.$path.admin.usersCreate).catch()
      this.fetch()
      this.form.reset()
    },
    async del(id) {
      const { data } = await axios.post(this.$path.admin.usersRemoveAdmin(id)).catch()
      this.fetch()
    }
  },
  computed: mapGetters({
    user: 'admin/user'
  }),
  created() {
    this.fetch()
  }
}
</script>

<style lang="scss" scoped>
.card {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.button-create {
  button {
    background: #f36f21;
    border: #f36f21;
    transition: 0.5s;
  }
  button:hover {
    background: #fff;
    border: solid 2px #f36f21;
    color: #f36f21;
  }
}
//  kg
</style>
