<template>
  <div class>
    <div class="row">
      <div class="col-2">
        <sidebar-menu :menu="menu" relative :style="`min-height:99vh;`" width="400">
          <div slot="header" class="text-center pt-3">
            <iomg src="/assets/images/mea_cms.png" width="70%" />
            <hr />
            <div class="text-white">{{ user.first_name }} {{ user.last_name }}</div>
            <hr />
            <div class="logout">
              <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                <fa icon="sign-out-alt" fixed-width />
                Logout
              </a>
            </div>
          </div>
          <!-- <div slot="footer"></div> -->
          <!-- <span slot="toggle-icon">toggle-icon</span> -->
          <!-- <span slot="dropdown-icon"
            ><i class="fa fa-chevron-right text-white" aria-hidden="true"></i>
          </span> -->
        </sidebar-menu>
      </div>

      <div class="col-10">
        <div class="pr-4 pt-3 pb-4">
          <transition name="fade" mode="out-in">
            <router-view />
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  middleware: 'admin',
  layout: 'empty',
  methods: {
    async logout() {
      // Log out the user.
      await this.$store.dispatch('admin/logout')

      // Redirect to login.
      this.$router.push({ name: 'admin.login' })
    },
  },
  computed: mapGetters({
    user: 'admin/user',
  }),
  data() {
    return {
      menu: [
        {
          header: true,
          title: 'Main Navigation',
          hiddenOnCollapse: true,
        },
        {
          href: this.$path.baseUrl + '/admin/home',
          title: 'Dashboard',
          icon: 'fa fa-line-chart',
        },

        {
          href: this.$path.baseUrl + '/admin/data/export',
          title: 'Export Data Xls',
          icon: 'fa fa-file-excel-o',
        },
        {
          href: this.$path.baseUrl + '/admin/stats',
          title: 'Page Stats',
          icon: 'fa fa-area-chart',
        },
        {
          href: this.$path.baseUrl + '/admin/users',
          title: 'Users',
          icon: 'fa fa-user',
        },
        {
          href: this.$path.baseUrl + '/admin/houses',
          title: 'House Register',
          icon: 'fa fa-home',
        },
        {
          href: this.$path.baseUrl + '/admin/ebill',
          title: 'E-Bills Log',
          icon: 'fa fa-newspaper-o',
        },
        {
          header: true,
          title: 'Other',
          hiddenOnCollapse: true,
        },
        {
          href: this.$path.baseUrl + '/admin/api_docs',
          title: 'API Docs',
          icon: 'fa fa-file-text-o',
        },
        {
          href: this.$path.baseUrl + '/admin/add/user',
          title: 'CMS Users',
          icon: 'fa fa-user-plus',
        },
        {
          href: this.$path.baseUrl + '/admin/reset/password',
          title: 'Reset Password',
          icon: 'fa fa-lock',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.settings-card .card-body {
  padding: 0;
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_exact-active,
.v-sidebar-menu .vsm--link_level-1.vsm--link_active {
  -webkit-box-shadow: 3px 0px 0px 0px #f36f21 inset;
  box-shadow: 5px 0px 0px 0px #f36f21 inset;
}

body {
  overflow-x: hidden;
  background: #f36f21;
  .card-home {
    .card-body {
      padding: 0;
    }
  }
}
.v-sidebar-menu .vsm--toggle-btn {
  display: none;
}
.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
  margin-left: 20px;
}
.logout {
  padding: 20px;
  a {
    color: #fff;
    font-size: 20px;
    background: #2a2a2e;
    transition: 0.5s;
    :hover {
      background: #cecece;
    }
  }
}
.jumbotron {
  background: #c7c7c7;
  padding: 3rem 7rem;
  border-radius: 0rem;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
</style>
