<template>
  <div>
    <card>
      <div class="jumbotron">
        <div class="row">
          <div class="col-8 justify-content-center">
            <h1 class="display-4">API Docs</h1>
            <p class="lead">คู่มือการใช้งาน API MEA Line Connect</p>
          </div>
          <div class="col-4 text-right">
            <iomg src="/assets/images/welcome.png" alt width="50%" class="text-left" />
          </div>
        </div>
      </div>
      <hr class="my-4" />

      <div class="px-5">
        <a name="getUserByCA"></a>
        <card>
          <h2>Get Line User ID By UI</h2>
          <code class="text-secondary">Endpoint : /api/home/get/line_user</code>
          <br />

          <code class="text-primary">Method : POST</code>

          <hr />

          <h4><i>Request</i></h4>
          <span class="text-info">body : application/json.</span>
          <pre class="language-js">
        <code>
{
    "ui" : [
        "96486914"
    ]
}
        </code>
        </pre>

          <hr />
          <h4><i>Response</i></h4>
          <pre class="language-js">
        <code>
{
    "result": [
        {
            "ui": 96486914,
            "users": [
                {
                    "first_name": "Clotilde Feil II",
                    "last_name": "Windler",
                    "email": "bartell.raul@gmail.com",
                    "line_user_id": "U56f0b2345130367bb44a046616756b14",
                    "user_block": true
                },
                {
                    "first_name": "admin",
                    "last_name": "cms",
                    "email": "admin@cms.com",
                    "line_user_id": "U2d9ef70b54f10f49329660b214bc1196",
                    "user_block": false
                }

            ]
        }
    ]
}
        </code>
        </pre>
        </card>

        <a name="pushMessage"></a>
        <card class="mt-4">
          <h2>Push Message On Line Messaging API</h2>
          <code class="text-secondary">Endpoint : https://api.line.me/v2/bot/message/push</code>
          <hr />

          <h4><i>Request</i></h4>
          <span class="text-info">body : application/json.</span>
          <br />
          <span class="text-info">header : Authorization: Bearer {channel access token}'</span>

          <br />
          <code class="text-primary">Method : POST</code>

          <pre class="language-js">
        <code>
              {
                  "to": "U4af4980629...",
                  "messages":[
                      {
                          "type":"text",
                          "text":"Hello, world1"
                      },
                      {
                          "type":"text",
                          "text":"Hello, world2"
                      }
                  ]
              }
        </code>
        </pre>

          <hr />
          <h4><i>Response</i></h4>
          <pre class="language-js">
        <code>
              {}
        </code>
        </pre>
        </card>

        <a name="pushMessage"></a>
        <card class="mt-4">
          <h2>Push Message Muticast On Line Messaging API</h2>
          <code class="text-secondary"
            >Endpoint : https://api.line.me/v2/bot/message/multicast</code
          >
          <hr />

          <h4><i>Request</i></h4>
          <span class="text-info">body : application/json.</span>
          <br />
          <span class="text-info">header : Authorization: Bearer {channel access token}'</span>

          <br />
          <code class="text-primary">Method : POST</code>

          <pre class="language-js">
        <code>
              {
                  "to": ["U4af4980629...","U123456..."],
                  "messages":[
                      {
                          "type":"text",
                          "text":"Hello, world1"
                      },
                      {
                          "type":"text",
                          "text":"Hello, world2"
                      }
                  ]
              }
        </code>
        </pre>

          <hr />
          <h4><i>Response</i></h4>
          <pre class="language-js">
        <code>
              {}
        </code>
        </pre>
        </card>

        <card class="mt-4">
          <h2>Push Message On Mea Line Connect</h2>
          <code class="text-secondary">Endpoint : /api/home/get/line_user</code>
          <hr />

          <h4><i>Request</i></h4>
          <span class="text-info">body : application/json.</span>
          <br />
          <code class="text-primary">Method : POST</code>

          <pre class="language-js">
        <code>
              {
                  "resp_id" : "U2d9ef70b54f10f49329660b214bc1196",
                  "message" : "test api."
              }
        </code>
        </pre>

          <hr />
          <h4><i>Response</i></h4>
          <pre class="language-js">
        <code>
            {
              "message" : "Push Message Success."
            }
        </code>
        </pre>
        </card>
      </div>
    </card>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.card {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
</style>
