<template>
  <div>
    <card>
      <div class="jumbotron">
        <h1 class="display-4">Export Data To Xls</h1>
        <p class="lead">ทำการ Export Data ต่างๆ ที่ได้มีการเก็บข้อมูลบน MEA Line Connect</p>
        <hr />
        <span class="text-danger">
          * หากไม่มีการเลือกวันที่จะเป็นการ Export Data ณ วันปัจจุบัน
          <br />
          * เวลาช่อง (ถึงวันที่) ต้องมากกว่าหรือเท่ากับ ช่อง (ข้อมูลตั้งแต่)
        </span>
      </div>
      <hr class="my-4" />

      <div class="row">
        <div class="col-md-3" style="border-right:1px solid #ccc;">
          <div class="pl-5">
            <b-form-group label="กรุณาเลือก Data ที่ต้องการ">
              <b-form-radio v-model="selected" name="some-radios" value="all"
                >All (Users&Houses)</b-form-radio
              >
              <b-form-radio v-model="selected" name="some-radios" value="user"
                >Users Only.</b-form-radio
              >
              <b-form-radio v-model="selected" name="some-radios" value="house"
                >Houses Only.</b-form-radio
              >
            </b-form-group>
          </div>
        </div>
        <div class="col-md-3" style="border-right:1px solid #ccc;">
          <div class="pl-3">
            <div>
              <label for="date_from">ข้อมูลตั้งแต่</label>
              <b-form-datepicker
                id="date_from"
                v-model="date_from"
                class="mb-2"
                required
              ></b-form-datepicker>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="border-right:1px solid #ccc;">
          <div class="pl-3">
            <div>
              <label for="date_to">ถึงวันที่</label>
              <b-form-datepicker
                id="date_to"
                v-model="date_to"
                class="mb-2"
                required
                @input="toChange()"
              ></b-form-datepicker>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="border-right:1px solid #ccc;">
          <div class="pl-3">
            <div class="button-export">
              <a class="btn btn-primary btn-lg w-100 mt-4" :href="exportXls" role="button">
                Export
              </a>
            </div>
          </div>
        </div>
      </div>
    </card>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  async created() {
    const { data } = await axios.get('/api/home')
    this.homes = data
  },
  data: () => ({
    selected: 'all',
    homes: [],
    date_from: '',
    date_to: ''
  }),
  methods: {
    toChange() {
      if (this.date_to < this.date_from) {
        alert('ต้องเลือกเวลาที่มากกว่าเวลาตั้งต้น')
        setTimeout(() => {
          this.date_to = ''
          this.date_from = ''
        }, 0)
      }
    }
  },
  computed: {
    exportXls() {
      let selected = this.selected
      console.log(selected)
      let active = 'users'
      if (selected == 'all') {
        active = 'users-with-home'
      } else if (selected == 'house') {
        active = 'homes'
      } else if (selected == 'user') {
        active = 'users'
      }

      var URL = this.$path.admin.export(active, this.date_from, this.date_to)
      console.log(URL)

      return URL
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.button-export {
  a {
    background: #f36f21;
    border: #f36f21;
    transition: 0.5s;
  }
  a:hover {
    background: #fff;
    border: solid 2px #f36f21;
    color: #f36f21;
  }
}
</style>
