<template>
  <div>
    <card>
      <div class="jumbotron">
        <div class="row">
          <div class="col-8">
            <h1 class="display-4">E-Bills</h1>
            <p class="lead">E-Bills Log from MEA Line Connect</p>
            <p class="lead">ประวัติการสมัครขอใช้งานและยกเลิกทั้งหมด {{ count }} รายการ</p>
          </div>
          <div class="col-4 text-right">
            <iomg src="/assets/images/welcome.png" alt width="50%" class="text-left" />
          </div>
        </div>
      </div>
      <pagination :data="ebills" @pagination-change-page="fetch" :limit="5"></pagination>

      <b-table striped hover :items="ebills.data" :fields="fields"></b-table>

      <pagination :data="ebills" @pagination-change-page="fetch" :limit="5"></pagination>
    </card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    ebills: {},
    q: '',
    count: 0,
    fields: [
      { key: 'id', sortable: true, sortDirection: 'asc' },
      { key: 'ca', label: 'CA' },
      { key: 'ui', label: 'UI' },
      { key: 'user.first_name', label: 'First Name' },
      { key: 'user.last_name', label: 'Last Name' },
      'action',
      { key: 'created_at_text', label: 'Created At' },
    ],
  }),
  methods: {
    async fetch(page = 1) {
      const { data } = await axios.get(this.$path.admin.ebills(page, this.q))
      this.ebills = data.ebills
      this.count = data.count
    },
  },
  created() {
    this.fetch()
  },
}
</script>

<style lang="scss" scoped>
.card {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
</style>
