<template>
  <div>
    <card>
      <div class="jumbotron">
        <div class="row">
          <div class="col-8">
            <h1 class="display-4">Houses</h1>
            <p class="lead">รายการบ้านที่ผู้ใช้งานที่ลงทะเบียนบน MEA Line Connect</p>
            <p class="lead">บ้านในระบบมีทั้งหมด {{ count }} รายการ</p>
          </div>
          <div class="col-4 text-right">
            <iomg src="/assets/images/welcome.png" alt width="50%" class="text-left" />
          </div>
        </div>
      </div>
      <pagination :data="houses" @pagination-change-page="fetch" :limit="5"></pagination>
      <input
        type="text"
        v-model="q"
        class="form-control mb-3"
        @input="fetch()"
        placeholder="Keyword ..."
      />

      <b-table striped hover :items="houses.data" :fields="fields"></b-table>

      <pagination :data="houses" @pagination-change-page="fetch" :limit="5"></pagination>
    </card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    houses: {},
    count: 0,
    q: '',
    fields: [
      { key: 'id', sortable: true, sortDirection: 'desc' },
      'ca',
      'ui',
      'name',
      { key: 'created_at_text', label: 'Created At' },
    ],
  }),
  methods: {
    async fetch(page = 1) {
      const { data } = await axios.get(this.$path.admin.houses(page, this.q))
      this.houses = data.houses
      this.count = data.count
    },
  },
  created() {
    this.fetch()
  },
}
</script>
<style lang="scss" scoped>
.card {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
</style>
