<template>
  <div class="row">
    <div class="col-lg-6 m-auto">
      <card>
        <form @submit.prevent="login" @keydown="form.onKeydown($event)">
          <!-- Email -->
          <div class="text-center pb-3">
            <iomg src="/assets/images/mea_cms.png" alt width="40%" class="text-left" />
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">EMAIL</label>
            <div class="col-md-7">
              <input
                v-model="form.email"
                :class="{ 'is-invalid': form.errors.has('email') }"
                class="form-control"
                type="email"
                name="email"
              />
              <has-error :form="form" field="email" />
            </div>
          </div>

          <!-- Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">PASSWORD</label>
            <div class="col-md-7">
              <input
                v-model="form.password"
                :class="{ 'is-invalid': form.errors.has('password') }"
                class="form-control"
                type="password"
                name="password"
              />
              <has-error :form="form" field="password" />
            </div>
          </div>

          <!-- Remember Me -->
          <div class="form-group row">
            <div class="col-md-3" />
            <div class="col-md-7 d-flex">
              <checkbox v-model="remember" name="remember">Remember me</checkbox>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-7 offset-md-3 d-flex">
              <!-- Submit Button -->
              <v-button :loading="form.busy">Login</v-button>
            </div>
          </div>
        </form>
      </card>
    </div>
  </div>
</template>

<script>
import Form from 'vform'

export default {
  middleware: 'guest-admin',
  layout: 'empty',

  metaInfo() {
    return { title: 'Login' }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  methods: {
    async login() {
      // Submit the form.
      const { data } = await this.form.post(this.$path.admin.login)

      // Save the token.
      this.$store.dispatch('admin/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('admin/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'admin.home' })
    }
  }
}
</script>
<style lang="scss" scoped>
.card {
  margin-top: 20%;
  background-color: #2a2a2e;

  border-radius: 25px;
  padding-top: 48px;
  color: #fff;
  padding-bottom: 60px;
  label {
    font-size: 24px;
  }
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #f37021 !important;
  background-color: #f37021 !important;
}
</style>
