<template>
  <div>
    <card>
      <div class="jumbotron">
        <h1 class="display-4">Reset Password</h1>
        <p class="lead">ทำการเปลี่ยนรหัสผ่านผู้ใช้งานบน MEA Connect CMS</p>
      </div>

      <card>
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
          <alert-success :form="form" message="เปลี่ยนรหัสผ่านสำเร็จ" />

          <!-- Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">รหัสผ่านใหม่</label>
            <div class="col-md-9">
              <input
                v-model="form.password"
                :class="{ 'is-invalid': form.errors.has('password') }"
                class="form-control"
                type="password"
                name="password"
              />
              <has-error :form="form" field="password" />
            </div>
          </div>

          <!-- Password Confirmation -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">ยินยันรหัสผ่านใหม่</label>
            <div class="col-md-9">
              <input
                v-model="form.password_confirmation"
                :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
                class="form-control"
                type="password"
                name="password_confirmation"
              />
              <has-error :form="form" field="password_confirmation" />
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group row">
            <div class="col-md-9 ml-md-auto">
              <v-button :loading="form.busy">
                อัพเดท
              </v-button>
            </div>
          </div>
        </form>
      </card>
    </card>
  </div>
</template>

<script>
import Form from 'vform'

export default {
  scrollToTop: false,

  data: () => ({
    form: new Form({
      password: '',
      password_confirmation: ''
    })
  }),

  methods: {
    async update() {
      await this.form.patch(this.$path.admin.resetPassword)

      this.form.reset()
    }
  }
}
</script>
