<template>
  <div>
    <card>
      <div class="jumbotron">
        <div class="row">
          <div class="col-8">
            <h1 class="display-4">Users</h1>
            <p class="lead">รายการผู้ใช้งานที่ลงทะเบียนบน MEA Line Connect</p>
            <p class="lead">ผู้ใช้งานในระบบมีทั้งหมด {{ count }} คน</p>
          </div>
          <div class="col-4 text-right">
            <iomg src="/assets/images/welcome.png" alt width="50%" class="text-left" />
          </div>
        </div>
      </div>
      <pagination :data="users" @pagination-change-page="fetch" :limit="5"></pagination>
      <input
        type="text"
        v-model="q"
        class="form-control mb-3"
        @input="fetch()"
        placeholder="Keyword ..."
      />

      <b-table striped hover :items="users.data" :fields="fields"></b-table>

      <pagination :data="users" @pagination-change-page="fetch" :limit="5"></pagination>
    </card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    users: {},
    count: 0,
    q: '',
    fields: [
      { key: 'id', sortable: true, sortDirection: 'asc' },
      'first_name',
      'last_name',
      'email',
      'tel',
      'line_user_id',
      { key: 'created_at_text', label: 'Created At' },
    ],
  }),
  methods: {
    async fetch(page = 1) {
      const { data } = await axios.get(this.$path.admin.users(page, this.q, 0))
      this.users = data.users
      this.count = data.count
    },
  },
  created() {
    this.fetch()
  },
}
</script>

<style lang="scss" scoped>
.card {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
</style>
