<template>
  <div class="container">
    <div class="pt-5 text-center">
      <h2>เพิ่มเครื่องวัดของท่านลงระบบ</h2>
      <div class="card">
        <div class="card-bodys">
          <form @submit.prevent="addHome">
            <div v-for="(home, index) in homes" class="form clearfix selHome"
              :class="{ 'diabled-select text-white': home.added }">
              <div class="card">
                <div v-if="home.name" class="card-header">
                  <strong>{{ home.name }}</strong> <br>
                  {{ home.added ? '( มีในระบบแล้วไม่สามารถแก้ไขได้ )' : '' }}
                </div>
                <div class="card-body kg-p">
                  <div class=" text-left w-100">
                    <div class="lr-set">
                      <div class="left w-30">
                        <strong>บัญชีสัญญาเลขที่: </strong>
                      </div>
                      <div class="right w-70">
                        {{ home.contractNumber }}
                      </div>
                    </div>
                    <div class="lr-set">
                      <div class="left w-30">
                        <strong>รหัสเครื่องวัดไฟฟ้า: </strong>
                      </div>
                      <div class="right w-70">
                        {{ home.installationNumber }}
                      </div>
                    </div>
                    <div class="address lr-set">
                      <div class="left w-30">
                        <strong>ที่อยู่: </strong>
                      </div>
                      <div class="right w-70">
                        {{ home.address }}
                      </div>
                    </div>
                    <!-- {{ home.active }} -->
                  </div>
                  <div class=" w-100 toggle-set">
                    <div class="vertical-center ">
                      <toggle-button v-if="!home.added" :value="home.active" :sync="true"
                        @change="setName(home, index)" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              *กรุณาเลือกอย่างน้อย 1 รายการ
              <br>
              *สามารถเพิ่มที่อยู่ได้ไม่เกิน 9 ที่อยู่

              <v-button :loading="isLoading">
                ยืนยันข้อมูล
              </v-button>
            </div>
          </form>
        </div>
      </div>

      <!-- <iomg src="/assets/images/head-confirm.png" alt width="200" /> -->
    </div>
    <!-- {{ homes }} -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'
export default {
  data: () => ({
    isLoading: false
  }),
  methods: {

    async addHome() {
      this.isLoading = true
      const { data } = await axios.post(this.$path.verify.addHome, {
        homes: this.homeActives,
        line_user_id: this.user.id
      })

      if (data.status == 200) {
        this.$swal.fire({
          title: data.message,
          confirmButtonText: 'ตกลง'
        }).then(async result => {
          if (result.isConfirmed) {
            this.$emit('success', true)
            this.closeWindow()
          }
        })
      } else {
        this.$swal.fire({
          title: data.message,
          confirmButtonText: 'ลองอีักครั้ง'
        }).then(async result => {

        })
      }

      this.isLoading = false
      console.log(data)
    },
    setName(e, index) {
      console.log(this.activeCount, this.homes[index].active)

      const editHome = this.editHome(e)

      if (!this.homes[index].active) {
        if (this.activeCount.true > 8) {
          return this.$swal.fire({
            title: 'ขออภัย เลือกบ้านได้สูงสุดไม่เกิน 9 หลัง',
            confirmButtonText: 'ตกลง'
          })
        }

        this.$swal
          .fire({
            title: 'ตั้งชื่อบ้าน',
            text: 'ไม่เกิน 10 ตัวอักษร',
            confirmButtonText: 'ตกลง',
            input: 'text',
            inputAttributes: {
              autocapitalize: 'off'
            },
            preConfirm: input => {
              if (input) {
                editHome({ name: input, active: true })
              } else {
                editHome({ name: input, active: false })
              }
            }
          })
          .then(() => { })
      } else {
        editHome({ name: '', active: false })
      }
    },
    editHome(e) {
      const home = e
      const _this = this
      return function (payload) {
        _this.$store.dispatch('verify/editHomeName', { ...home, ...payload })
      }
    }
  },

  computed: {
    ...mapGetters('verify', {
      homes: 'homes',
      activeCount: 'activeCount',
      homeActives: 'homeActives'

    })
  }
}
</script>

<style lang="scss" scoped>
.vertical-center {
  // margin: 0;
  // position: absolute;
  // top: 50%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}

.container {
  padding-right: 35px;
  padding-left: 35px;
}

.selHome {
  // border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 15px;
}

.input-group-text {
  box-shadow: 0px 2px 1px #decec3;
  background-color: #ffffff;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: none !important;
  border: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-control {
  box-shadow: 1px 2px 1px #decec3;
  border: none;
}

input {
  border-radius: 7px;
}

.custom-control-label {
  left: 15px;
}

.card {
  border: 0;
  background: none;
}

.card-header {
  background: none;
  border-bottom: 0;
  padding: 0.75rem 1.25rem 0;
}

.diabled-select {
  background: #a3a3a3;
}

.w-30 {
  width: 34% !important;
}

.w-70 {
  width: 66% !important;
}

.lr-set {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5em;

  .left {
    text-align: right;
    line-height: 1em;
  }

  .right {
    line-height: 1em;
    padding-left: 0.3em;
  }
}

.kg-p {
  padding: 0.9em;
}

.toggle-set {
  padding-top: 1em;
}
</style>
