<template>
  <div>
    <div v-if="currentPage == 1" class="container">
      <div class="pt-5 text-center">
        <h2 style="text-shadow: 2px 0px 10px #000000; color: #fff">
          ตรวจสอบเครื่องวัดไฟฟ้า <br />ที่มีความเป็นเจ้าของ
        </h2>
        <!-- <iomg src="/assets/images/head-confirm.png" alt width="200" /> -->
      </div>
      <form class="pt-5" @submit.prevent="verify" @keydown="form.onKeydown($event)">
        <div v-for="(input, index) in inputs" :key="index" class="form-group">
          <div class="label text-center">
            {{ input.label }}
            <i>{{ input.sub }}</i>
          </div>
          <div v-if="input.type == 'birthday'" class="mb-2">
            <label for="b1"
              ><input id="b1" v-model="btype" type="radio" name="btype" value="1" />
              ระบุ วัน/เดือน/ปีเกิด
            </label>
            <label for="b3"
              ><input id="b3" v-model="btype" type="radio" name="btype" value="3" />
              ระบุ เดือน/ปีเกิด
            </label>
            <label for="b2">
              <input id="b2" v-model="btype" type="radio" name="btype" value="2" />
              ระบุเฉพาะปีเกิด
            </label>
          </div>
          <div v-if="input.type == 'birthday'" class="form-group">
            <div class="row">
              <div class="col-2 pr-1">
                <input
                  v-model="day"
                  type="tel"
                  class="form-control"
                  placeholder="วัน"
                  maxlength="2"
                  :disabled="btype == 2 || btype == 3"
                />
              </div>
              <div class="col-6 pr-1 pl-0">
                <select v-model="month" type="text" class="form-control" :disabled="btype == 2">
                  <option value="">เดือน</option>
                  <option v-for="(month, index) in monthFilters" :key="index" :value="month.id">
                    {{ month.name }}
                  </option>
                </select>
              </div>
              <div class="col-4 pl-0">
                <input
                  v-model="year"
                  type="tel"
                  class="form-control"
                  placeholder="ปี (พ.ศ.)"
                  maxlength="4"
                />
              </div>
            </div>
          </div>
          <div v-else class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <!-- <iomg :src="input.icon" width="20" /> -->

                <iomg :src="input.icon" alt width="16" />

                <!-- <span class="text-danger" v-if="input.require">*</span> -->
              </span>
            </div>

            <input
              :id="input.model"
              v-model="form[input.model]"
              :type="input.type"
              :name="input.model"
              class="form-control"
              :class="input.class"
              :required="input.require"
              :maxlength="input.maxleg"
            />
          </div>
          <span v-if="form.errors.errors[input.model]" class="text-danger">
            *
            <span v-for="(e, index) in form.errors.errors[input.model]" :key="index">{{ e }}</span>
          </span>
        </div>

        <div class="pt-4">
          <label for="agree">
            <input id="agree" v-model="agree" type="checkbox" />
            <span class="h6">สําหรับตรวจสอบสถานะบัตรประจําตัวประชาชนกับกรมการ ปกครองเท่านั้น</span>
          </label>
          <v-button :loading="form.busy" :disabled="!agree"> ยืนยันข้อมูล </v-button>
        </div>
      </form>

      <div class="pt-3">
        <v-button v-if="iscomponent" type="grey" @click="$emit('skip', 1)"> ย้อนกลับ </v-button>
      </div>
    </div>
    <div v-if="currentPage == 2">
      <SelectHome @success="selectHomeSuccess" />
      <div class="container mt-3">
        <v-button v-if="iscomponent" type="grey" @click="$emit('skip', 1)"> ย้อนกลับ </v-button>
        <v-button v-else type="grey" @click="closeWindow()"> ปิดหน้านี้ </v-button>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import axios from 'axios'
import HomeSuccess from '../home/HomeSuccess'
import SelectHome from './selectHome'
import { DateTime } from 'luxon'
export default {
  components: {
    HomeSuccess,
    SelectHome,
  },
  props: {
    iscomponent: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    months: [
      {
        id: '01',
        name: 'มกราคม',
        max: 31,
      },
      {
        id: '02',
        name: 'กุมภาพันธ์',
        max: 29,
      },
      {
        id: '03',
        name: 'มีนาคม',
        max: 31,
      },
      {
        id: '04',
        name: 'เมษายน',
        max: 30,
      },
      {
        id: '05',
        name: 'พฤษภาคม',
        max: 31,
      },
      {
        id: '06',
        name: 'มิถุนายน',
        max: 30,
      },
      {
        id: '07',
        name: 'กรกฎาคม',
        max: 31,
      },
      {
        id: '08',
        name: 'สิงหาคม',
        max: 31,
      },
      {
        id: '09',
        name: 'กันยายน',
        max: 30,
      },
      {
        id: '10',
        name: 'ตุลาคม',
        max: 31,
      },
      {
        id: '11',
        name: 'พฤศจิกายน',
        max: 30,
      },
      {
        id: '12',
        name: 'ธันวาคม',
        max: 31,
      },
    ],
    btype: 1,
    currentPage: 1,
    homes: [],
    day: '',
    month: '',
    year: '',
    form: new Form({
      id_card: '',
      first_name: '',
      last_name: '',
      birthday: '',
      laser_id: '',
    }),
    agree: 0,
    inputs: [
      {
        label: 'ชื่อ (ภาษาไทย)',
        model: 'first_name',
        type: 'text',
        icon: '/assets/images/left-align.png',
        class: '',
        // require: true,
        maxleg: 9999,
      },
      {
        label: 'นามสกุล (ภาษาไทย)',
        model: 'last_name',
        type: 'text',
        icon: '/assets/images/left-align.png',
        class: '',
        // require: true,
        maxleg: 999,
      },
      {
        label: 'วันเกิด',
        model: 'birthday',
        type: 'birthday',
        icon: '/assets/images/gift.png',
        class: '',
        // require: true
      },
      {
        label: 'เลขบัตรประชาชน 13 หลัก',
        model: 'id_card',
        type: 'tel',
        icon: '/assets/images/id.png',
        class: '',
        isFa: true,
        // require: true,
        maxleg: 13,
      },
      {
        label: 'เลขหลังบัตรประชาชน',
        model: 'laser_id',
        type: 'text',
        icon: '/assets/images/123.png',
        class: '',
        // require: true,
        maxleg: 12,
      },
    ],
  }),
  computed: {
    monthFilters() {
      const months = this.months
      if (this.day) {
        if (this.btype != 3) {
          return months.filter((m) => m.max >= this.day)
        }
      }

      return months
    },
    no_home() {
      let lp = this.$liffParams.get('no_home')
      let t = lp || this.$route.query.no_home
      let text = ''
      if (t == 'payment') {
        text = 'ชำระค่าไฟ'
      } else if (t == 'report') {
        text = 'แจ้งไฟฟ้าขัดข้อง'
      } else if (t == 'setting') {
        text = 'จัดการข้อมูล'
      } else if (t == 'edoc') {
        text = 'รับเอกสาร'
      }
      return text
    },
  },
  watch: {
    day() {
      const month = this.month
      const monthActive = this.months.find((m) => m.id == month)
      if (this.day > monthActive?.max) {
        this.month = ''
        this.day = ''
      }
    },
    'form.id_card'() {
      var a = this.form.id_card
      this.form.id_card = a
    },
    'form.laser_id'() {
      var a = this.form.laser_id.toUpperCase()
      this.form.laser_id = a
    },
    btype(s) {
      console.log(s == 2)
      if (s == 2) {
        this.day = '-'
        this.month = ''
      } else if (s == 3) {
        this.day = '-'
        // this.month = ''
      } else {
        this.day = ''
        this.month = ''
      }
    },
    user() {
      this.syncUser()
    },
  },
  async created() {
    if (!this.iscomponent) {
      await this.initializeLiff('verify', false, 'ยืนยันตัวตน')
    }

    this.syncUser()

    // console.log('birth: ', birth)

    // console.log(user)

    // console.log('isThai', this.isThai(user.first_name))
    // await this.verify()
    // console.log(this.$path)
  },
  methods: {
    async syncUser() {
      let { data } = await axios.get(this.$path.user.getProfile(this.user.id))

      const user = data?.result?.user

      if (!user) {
        return 0
      }

      this.form.first_name = this.isThai(user.first_name)
      this.form.last_name = this.isThai(user.last_name)

      this.form.line_user_id = user.line_user_id
      this.form.id_card = user.id_card

      const birth = user.birthday.split('-')
      this.year = birth[0]
      if (birth[2] != '00') {
        this.day = birth[2]
      } else {
        this.btype = 3
      }
      if (birth[1] != '00') {
        this.month = birth[1]
      } else {
        this.btype = 2
      }
    },
    isLatinString(s) {
      var c
      var whietlist = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
      // if whitelist string doesn't include the character, break
      for (c in s) {
        // get each character in the argument string
        if (!whietlist.includes(s[c].toUpperCase())) {
          return false
        }
      }
      return true
    },
    isThai(stringToValidate) {
      var thaiRegex = /[\u0E00-\u0E7F]/
      if (thaiRegex.test(stringToValidate)) {
        return stringToValidate
        // The string contains Thai characters
      } else {
        return ''
        // The string does not contain Thai characters
      }
    },
    selectHomeSuccess() {
      this.$emit('skip', 1)
    },
    validate() {
      let error = []
      // eslint-disable-next-line camelcase
      const { first_name, last_name, id_card, laser_id } = this.form
      // eslint-disable-next-line camelcase
      if (!first_name) {
        error.push('กรุณากรอกชื่อ')
      }
      // eslint-disable-next-line camelcase
      if (!last_name) {
        error.push('กรุณากรอกนามสกุล')
      }
      // eslint-disable-next-line camelcase
      if (!id_card || id_card.length != 13) {
        error.push('กรุณากรอกเลขบัตรประชาชน (13 หลัก)')
      }

      // eslint-disable-next-line camelcase
      if (!laser_id || laser_id.length != 12) {
        error.push('กรุณากรอกเลขหลังบัตรประชาชน (12 หลัก)')
      }

      const day = this.day
      const month = this.month
      const monthActive = this.months.find((m) => m.id == month)

      const year = this.year

      if (this.btype == 1) {
        if (!day?.length) {
          error.push('กรุณากรอกวันเกิด')
        }
        if (day < 0 || day > monthActive?.max) {
          error.push('วันเกิดไม่ถูกต้อง')
          this.day = ''
          this.month = ''
        }
      }

      if (this.btype == 1 || this.btype == 3) {
        if (!month?.length) {
          error.push('กรุณากรอกเดือนเกิด')
        }
      }

      if (!year?.length) {
        error.push('กรุณากรอกปีเกิด')
      }

      if (error.length) {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย! กรุณาลองใหม่อีกครั้ง',
          text: error.join(', '),
          confirmButtonText: 'ตกลง',
        })
        return true
      }

      return false
    },
    async verify() {
      this.form.user_id = this.user.id

      if (this.validate()) {
        return 0
      }

      this.form.birthday = `${this.year}-${this.month || '00'}-${
        this.day != '-' ? String(this.day).padStart(2, '0') : '00'
      }`

      const { data } = await this.form.post(this.$path.verify.verify)
      if (data.status == 200) {
        this.currentPage = 2
        this.$store.dispatch('verify/setHomes', data.homes)
        this.form.reset()
      } else {
        this.$swal
          .fire({
            icon: 'warning',
            title: 'ขออภัย! กรุณาลองใหม่อีกครั้ง',
            text: data.message,
            confirmButtonText: 'ตกลง',
          })
          .then(() => {})
      }
      // }
    },
    async checkValidate() {
      const { ca, ui } = this.form
      const { data } = await axios.get(this.$path.home.validate(ca, ui))
      let status = data.status
      if (status == '999') {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย! กรุณาลองใหม่อีกครั้ง',
          text: `เลขบัญชีแสดงสัญญาหรือรหัสเครื่องวัดไฟฟ้า ของคุณไม่ถูกต้อง`,
          confirmButtonText: 'ตกลง',
        })

        return false
      } else if (status == '200') {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย! กรุณาลองใหม่อีกครั้ง',
          text: `เลขบัญชีแสดงสัญญาและรหัสเครื่องวัดไฟฟ้า ของคุณไม่ตรงกัน`,
          confirmButtonText: 'ตกลง',
        })
        return false
      } else if (status == '100') {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย! กรุณาลองใหม่อีกครั้ง',
          text: `ข้อมูลของคุณไม่ถูกต้อง`,
          confirmButtonText: 'ตกลง',
        })

        return false
      }

      if (status != '0') {
        this.$swal.fire({
          icon: 'warning',
          title: 'ขออภัย! กรุณาลองใหมLอีกครั้ง',
          text: `มีบางอย่างผิดพลาด: status(${status})`,
          confirmButtonText: 'ตกลง',
        })

        return false
      }
      // console.log('arm')
      return true
    },
  },
}
</script>

<style lang="scss" scoped>
select {
  border-radius: 8px;
}

div[is-input-num='true'] {
  div {
    &:last-child {
      .otp-input {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
      }
    }

    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(10),
    &:nth-child(12) {
      margin-right: 5px;

      &::after {
        content: '-';
        position: absolute;
        margin-left: 1px;
        margin-top: 5px;
      }
    }
  }
}

.otp-input {
  width: 90%;
  height: 30px;
  // padding: 5px;
  margin: 0;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  // border-right: none;
  text-align: center;

  &.error {
    border: 1px solid red !important;
  }
}

.otp-input2 {
  width: 90%;
  height: 30px;
  // padding: 5px;
  margin: 0;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  // border-right: none;
  text-align: center;

  &.error {
    border: 1px solid red !important;
  }
}

.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
<style lang="scss" scoped>
.container {
  padding-right: 35px;
  padding-left: 35px;
}

.input-group-text {
  box-shadow: 0px 2px 1px #decec3;
  background-color: #ffffff;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: none !important;
  border: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-control {
  box-shadow: 1px 2px 1px #decec3;
  border: none;
}

input {
  border-radius: 7px;
}

.custom-control-label {
  left: 15px;
}
</style>
