<template>
  <div class="main-layout">
    <div style="min-height:600px;">
      <div class="line-elec">
        <iomg src="/assets/images/line-elec.png" alt class="w-100" />
      </div>
      <loading
        :active.sync="isLoading"
        :can-cancel="false"
        color="#fff"
        :is-full-page="true"
        loader="dots"
        background-color="#f37022"
        :opacity="1"
      ></loading>
      <router-view />
    </div>

    <div class="img-foot" v-if="!isAdmin">
      <iomg src="/assets/images/bg-footer.png" alt class="w-100" />
    </div>
  </div>
</template>

<script>
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
import 'element-ui/lib/theme-chalk/index.css'
export default {
  name: 'MainLayout',
  components: {
    Loading
  },
  computed: {
    isAdmin() {
      return this.$route.path.includes('admin')
    }
  },
  created() {
    // console.log('App pAth', this.$path)
  }
}
</script>

<style>
body {
  font-family: 'db_ozone_xregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /* background-image: url('/assets/images/bg-all.jpg'); */
  background: rgb(242, 111, 33);
  background: linear-gradient(180deg, rgba(242, 111, 33, 1) 0%, rgba(255, 255, 255, 1) 74%);
  background-size: 100%;
  background-attachment: fixed;
  /* margin: auto; */
}
.img-foot {
  padding-top: 20px;
  /* position: absolute;

      bottom: 0;
      z-index: -1; */
}
.line-elec {
  position: absolute;
  right: 0;
  padding-left: 33px;
  top: 10%;
  z-index: -1;
}
</style>
