<template>
  <div class="container">
    <h4 class="pt-5 text-center">ข้อกำหนดและเงื่อนไขในการใช้งาน ของ MEASY</h4>

    <p class="pl-3 pr-3 pt-5">
      สวัสดีและยินดีต้อนรับสู่ ข้อกำหนดและเงื่อนไขการใช้งานของ MEASY <br />
      (“ข้อกำหนด”) ข้อกำหนดที่คุณเห็นด้านล่างนั้นสำคัญ <br />
      เนื่องจาก ข้อกำหนดเหล่านี้ :
    </p>
    <p>1.</p>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
