<template>
  <div>
    <!-- <div class="debug-bar" v-if="isLocal">
      {{ currentPage }}
      <button v-if="isLocal" @click="currentPage--">
        prev
      </button>
      <button v-if="isLocal" @click="currentPage++">
        next
      </button>
    </div> -->

    <div v-if="currentPage == 1">
      <div class="container">
        <div class="display-pro">
          <!-- <iomg src="assets/images/register-pic.png" alt=""> -->
        </div>

        <div class="pt-3 text-center">
          <iomg src="/assets/images/register-head.png" alt width="100" />
        </div>
        <div class="d-flex justify-content-center pt-4">
          <!-- <iomg src="assets/images/register-pic.png" alt="" width="40%" /> -->
          <div v-if="user" class="imageProfile">
            <iomg :src="user.image_url" width="130" />
          </div>
        </div>

        <form class="pt-5" @submit.prevent="register" @keydown="form.onKeydown($event)">
          <div v-for="(input, index) in inputs" :key="index" class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <font-awesome-icon :icon="input.icon" />

                  <span style="padding-left: 10px">{{ input.label }}</span>
                  <span v-if="input.require" class="text-danger">*</span>
                </span>
              </div>
              <input :id="input.model" v-model="form[input.model]" :type="input.type" :name="input.model"
                class="form-control" :class="input.class" :required="input.require" :pattern="input.pattern"
                :maxlength="input.max">
            </div>
            <span v-if="form.errors.errors[input.model]" class="text-danger">
              *
              <span v-for="(e, index) in form.errors.errors[input.model]" :key="index">{{
                  e
              }}</span>
            </span>
          </div>

          <div class="custom-control custom-checkbox text-left">
            <input id="agree" v-model="agree" type="checkbox" class="custom-control-input">
            <label class="custom-control-label st-b" for="agree">ยอมรับข้อตกลง</label>
            <br>

            <div v-b-modal.modal-1 class="policy-mea st-b">
              อ่านเพิ่มเติม
            </div>
            <b-modal id="modal-1" v-model="show" title="เงื่่อนไขและข้อกำหนด" hide-footer scrollable>
              <div class="my-4">
                <div class="text-center">
                  <iomg src="/assets/images/mea_logo.png" width="130" />
                </div>

                <div class="contents">
                  <h3>ข้อตกลงและเงื่อนไขการใช้ MEA Connect</h3>
                  <p>
                    ขอต้อนรับการใช้บริการ MEA Connect
                    หรือระบบคอมพิวเตอร์ที่ช่วยอำนวยความสะดวกให้แก่ผู้ใช้บริการของการไฟฟ้านครหลวง
                    เช่น สอบถามค่าไฟฟ้า ชำระค่าไฟฟ้า แจ้งไฟฟ้าขัดข้อง เป็นต้น หากมีผู้ใดกระทำการใดๆ
                    ให้เกิดความเสียหายแก่ระบบ MEA Connect หรือผู้ใช้บริการ หรือบุคคลใดผ่าน MEA
                    Connect นี้ ผู้กระทำการดังกล่าวจะต้องรับผิดทั้งทางแพ่งและทางอาญา
                  </p>

                  <div class="content">
                    1. คำนิยาม
                    <p>
                      (1) ระบบคอมพิวเตอร์ หมายถึง
                      อุปกรณ์หรือชุดอุปกรณ์ของคอมพิวเตอร์ที่เชื่อมการทำงานเข้าด้วยกัน
                      โดยได้มีการกำหนดคำสั่ง ชุดคำสั่ง หรือสิ่งอื่นใด
                      และแนวทางปฏิบัติงานให้อุปกรณ์หรือชุดอุปกรณ์ทำหน้าที่ประมวลผลข้อมูลอัตโนมัติที่ใช้ประกอบการจัดทำระบบ
                      MEA Connect
                    </p>
                    <p>
                      (2) “ผู้ใช้บริการ” หมายถึง เจ้าของบัญชีแสดงสัญญา (Contract Account)
                      และเป็นเจ้าของข้อมูลการใช้ไฟฟ้าจริง
                      หรือได้รับมอบหมายให้มาดำเนินการแทนเจ้าของข้อมูล เพื่อใช้บริการต่าง ๆ
                      ที่เกี่ยวข้องกับผู้ให้บริการ เพื่อทำธุรกรรมอิเล็กทรอนิกส์ในระบบ MEA Connect
                      นี้
                    </p>
                    <p>
                      (3) “ผู้ให้บริการ” หมายถึง การไฟฟ้านครหลวง หรือผู้ให้บริการต่างๆ ที่เกี่ยวข้อง
                      เช่น ตัวแทนรับชำระค่าไฟฟ้า ที่ได้เชื่อมต่อระบบบริการของตนเข้ากับระบบ MEA
                      Connect นี้
                    </p>
                    หาก การไฟฟ้านครหลวง ตรวจสอบในภายหลังพบว่า ผู้ใช้บริการ
                    ไม่ใช่เจ้าของข้อมูลการใช้ไฟฟ้าที่แท้จริง
                    หรือไม่ได้รับให้มาดำเนินการแทนเจ้าของข้อมูล ผู้ใช้บริการยินยอมให้
                    การไฟฟ้านครหลวง ดำเนินคดีทางแพ่งและอาญา โดยไม่มีข้อโต้แย้งใด ๆ
                  </div>
                  <div class="content">
                    2. เมื่อผู้ใช้บริการได้กรอกข้อมูลของผู้ใช้บริการผ่าน MEA Connect
                    รวมทั้งได้ปฏิบัติตามขั้นตอนที่กำหนดไว้ในระบบ MEA Connect ครบถ้วนเรียบร้อยแล้ว
                    ถือว่าผู้ใช้บริการตกลงยอมรับและปฏิบัติตามข้อตกลงฯ ที่กำหนดไว้นี้แล้ว
                  </div>
                  <div class="content">
                    3. เมื่อผู้ใช้บริการประสงค์จะใช้บริการใดๆ ที่กำหนดไว้บน MEA Connect
                    ผู้ใช้บริการอาจต้องกรอกข้อมูลของผู้ใช้บริการเพื่อแจ้งรายละเอียดขอใช้บริการนั้นๆ
                    รวมทั้งตกลงปฏิบัติตามขั้นตอนการขอใช้บริการต่างๆ ที่กำหนดไว้บน MEA Connect
                    หรืออาจต้องลงลายมือชื่อในใบคำขอใช้บริการและเอกสารแนบตามแบบมาตรฐานที่กำหนดไว้แล้วแต่กรณี
                    ทั้งนี้
                    ถือว่าผู้ใช้บริการตกลงยอมรับและปฏิบัติตามข้อตกลงและเงื่อนไขการให้บริการซึ่งได้ขอแจ้งใช้บริการดังกล่าวนั้นแล้ว
                    ระบบ MEA Connect มีสิทธิ์พิจารณาอนุญาตและยกเลิกการใช้บริการ MEA Connect
                    ของผู้ใช้บริการ และ/หรือแก้ไข เพิ่มเติมข้อตกลงฯ นี้
                    โดยไม่จำเป็นต้องแจ้งให้ผู้ใช้บริการทราบล่วงหน้า หากจำเป็นต้องมีการแก้ไข
                    เพิ่มเติมเงื่อนไขใดๆ ของข้อตกลงฯ นี้ ผู้ใช้บริการจะได้รับแจ้งเป็นหนังสือ เอกสาร
                    หรือข้อมูลคอมพิวเตอร์ในระบบคอมพิวเตอร์ผ่านทางระบบอินเทอร์เน็ต แล้วแต่กรณี
                    และให้ถือว่าบรรดาหนังสือ เอกสาร
                    และข้อมูลคอมพิวเตอร์ดังกล่าวเป็นส่วนหนึ่งของข้อตกลงฯ นี้
                    และผู้ใช้บริการตกลงยอมรับเงื่อนไขดังกล่าวทุกประการ
                  </div>
                  <div class="content">
                    4. ระบบ MEA Connect ถูกควบคุมในประเทศไทย หากผู้ใช้บริการเข้าสู่ระบบหรือใช้ MEA
                    Connect นอกราชอาณาจักรไทย ผู้ใช้บริการตกลงและยินยอมให้บังคับตามกฎหมายไทย
                  </div>
                  <div class="content">
                    5. ข้อมูลที่ปรากฏบน MEA Connect นี้
                    เป็นทรัพย์สินทางปัญญาของผู้ให้บริการและที่ผู้ให้บริการได้รับอนุญาตให้ใช้
                  </div>
                  <div class="content">
                    6. ผู้ใช้บริการรับรองว่าข้อมูลต่างๆ ที่ได้กรอกเพื่อใช้ MEA Connect
                    รวมถึงการทำธุรกรรมอิเล็กทรอนิกส์รายการต่างๆ ในระบบ MEA Connect
                    เป็นข้อมูลที่ถูกต้องตรงตามความเป็นจริงทุกประการ และสามารถใช้เป็นหลักฐานได้
                    หากมีการตรวจพบว่าข้อมูลดังกล่าวเป็นข้อมูลเท็จ ไม่ถูกต้อง ไม่เป็นปัจจุบัน
                    ไม่สมบูรณ์ หรือมิใช่ข้อมูลของผู้ใช้บริการ ระบบ MEA Connect มีสิทธิระงับ
                    ยกเลิกการให้บริการต่างๆ แก่ผู้ใช้บริการ
                    หรือปฏิเสธการใช้บริการของผู้ใช้บริการได้ทันที
                  </div>

                  <div class="content">
                    7. ผู้ใช้บริการตกลงใช้ระบบ MEA Connect เพื่อทำธุรกรรมอิเล็กทรอนิกส์รายการต่างๆ
                    อันเกี่ยวกับการใช้บริการต่างๆ ที่กำหนดไว้ตามข้อตกลงฯ นี้ เท่านั้น
                    โดยผู้ใช้บริการต้องไม่กระทำการใดๆ ที่ไม่เหมาะสม หรือขัดต่อกฎหมาย ศีลธรรม
                    วัฒนธรรม และขนบธรรมเนียมประเพณีอันดีงาม หรือขัดต่อหลักเกณฑ์ ระเบียบ ข้อบังคับ
                    หรือคำสั่งใดๆ ที่ใช้บังคับอยู่ในขณะนั้นผ่าน MEA Connect นี้
                    หากผู้ใช้บริการฝ่าฝืนเงื่อนไขข้อนี้ ผู้ให้บริการระบบ MEA Connect
                    มีสิทธิระงับการใช้ MEA Connect ได้ทันที
                  </div>

                  <div class="content">
                    8. ผู้ใช้บริการรับทราบและยอมรับว่าการใช้ MEA Connect เพื่อชำระค่าไฟฟ้า
                    ผ่านช่องทางชำระเงินบนระบบ MEA Connect โดยตัวแทนการรับชำระ เช่น
                    การหักเงินจากบัญชีเงินฝากธนาคาร บัญชีบัตรเครดิต บัญชีเงินอิเล็กทรอกนิกส์ บริการ
                    rabbit LINE Pay เป็นต้น ระบบ MEA Connect
                    เป็นเพียงช่องทางเชื่อมต่อไปยังระบบให้บริการเท่านั้น การกระทำใดๆ
                    เพื่อมีผลให้ต้องมีการหักเงินหรือเรียกเก็บเงินจากบัญชีเงินฝากธนาคารหรือบัญชีบัตรเครดิตใดๆ
                    หรือบัญชีเงินอิเล็กทรอนิกส์ หรือบัญชีหรือบัตรเครดิตใดๆที่ผูกไว้กับบริการ rabbit
                    LINE Pay
                    เป็นข้อตกลงระหว่างเจ้าของบัญชีเงินฝากธนาคารหรือเจ้าของบัตรเครดิตกับธนาคารและ/หรือผู้ออกบัตรเครดิต
                    และ/หรือผู้ให้บริการรับชำระเงิน และ/หรือเงื่อนไขบริการ rabbit LINE Pay นั้นๆ เอง
                  </div>
                  <div class="content">
                    9. ผู้ใช้บริการต้องดูแล รับผิดชอบมิให้ ตัวแทน
                    และผู้ที่ถือว่าอยู่ในความรับผิดชอบของผู้ใช้บริการกระทำการที่ถือเป็นความผิดตามที่ระบุไว้ท้ายนี้
                    หากมีการละเลย ฝ่าฝืน
                    ผู้ใช้บริการต้องรับผิดชอบร่วมกับผู้กระทำความผิดนั้นตามกฎหมายที่เกี่ยวข้องทั้งทางแพ่งและอาญา
                    <p>(1) เปลี่ยนแปลง แก้ไขข้อมูลคอมพิวเตอร์โดยไม่ได้รับอนุญาตจากผู้ให้บริการ</p>
                    <p>
                      (2) ลักลอบนำข้อมูลคอมพิวเตอร์ไปเปิดเผย จำหน่าย จ่าย แจก แก่ผู้อื่น
                      ไม่ว่าเพื่อประโยชน์ส่วนตัวหรือเพื่อผู้อื่นโดยไม่ได้รับอนุญาต
                      หรือเป็นเหตุให้ผู้ให้บริการได้รับความเสียหาย
                    </p>
                    <p>
                      (3) ประมาท เลินเล่อ ไม่ระมัดระวังการใช้งานระบบคอมพิวเตอร์
                      จนเป็นเหตุให้บุคคลอื่นสามารถลักลอบนำข้อมูลคอมพิวเตอร์ไปเปิดเผย จำหน่าย จ่าย
                      แจก
                    </p>
                    <p>
                      (4) ใช้รหัสของผู้อื่นเข้าถึงระบบคอมพิวเตอร์ เพื่อทำการอ่าน คัดลอก แก้ไข
                      เปลี่ยนแปลง ลบทิ้ง ทำลายข้อมูลคอมพิวเตอร์ หรือทำธุรกรรมใดๆ
                      ไม่ว่าเพื่อประโยชน์ส่วนตัวหรือเพื่อผู้อื่น
                    </p>
                    <p>
                      (5) ก่อกวน หรือทำลายข้อมูลคอมพิวเตอร์ ระบบคอมพิวเตอร์
                      เพื่อสร้างความเสียหายแก่ผู้ให้บริการ หรือผู้อื่น
                    </p>
                    <p>
                      (6) ลักลอบ เฝ้าดู ค้นหาเส้นทางหรือถอดรหัส ข้อมูลอิเล็กทรอนิกส์
                      โดยใช้เครื่องมือ หรือเทคโนโลยีอื่นใด เพื่อให้ได้มาซึ่งข้อมูลคอมพิวเตอร์
                      หรือความลับของผู้ให้บริการหรือผู้อื่น
                      โดยจงใจก่อให้เกิดความเสียหายทั้งต่อผู้ให้บริการหรือผู้อื่น
                    </p>
                    <p>
                      (7) ให้ความช่วยเหลือหรือร่วมมือกับผู้อื่น เพื่อเข้าถึงระบบคอมพิวเตอร์
                      หรือข้อมูลคอมพิวเตอร์ เพื่อทำการอ่าน คัดลอก แก้ไข เปลี่ยนแปลง ลบทิ้ง
                      ทำลายข้อมูลคอมพิวเตอร์ หรือทำธุรกรรมใดๆ ไม่ว่าเพื่อประโยชน์ส่วนตัวหรือผู้อื่น
                    </p>
                    <p>
                      (8) ลักลอบใช้รหัสในการเข้าถึงระบบคอมพิวเตอร์
                      และเป็นเหตุให้ผู้ให้บริการหรือผู้อื่นได้รับความเสียหาย
                    </p>
                    <p>
                      (9) ประมาท เลินเล่อ ไม่ระมัดระวังการใช้รหัส
                      หรือยินยอมให้บุคคลอื่นใช้รหัสของตนเองเข้าถึงระบบคอมพิวเตอร์
                    </p>
                    <p>
                      (10) พยายามเข้าถึงระบบคอมพิวเตอร์ในส่วนที่ไม่มีสิทธิ์
                      หรือไม่ได้รับอนุญาตให้ใช้งาน
                    </p>
                    <p>(11) ติดตั้ง มีไว้ในครอบครอง หรือใช้งาน Software ประเภท Hacking Tools</p>
                    <p>
                      (12) เชื่อมต่ออุปกรณ์คอมพิวเตอร์
                      หรืออุปกรณ์อิเล็กทรอนิกส์อื่นใดเข้ากับระบบคอมพิวเตอร์โดยไม่ได้รับอนุญาตจากผู้ให้บริการ
                    </p>
                    <p>(13) ลักลอบเข้าถึงระบบคอมพิวเตอร์ ไม่ว่าด้วยวิธีการใดๆ โดยมิชอบ</p>
                    <p>
                      (14) กระทำความผิดใดๆ ตามฐานความผิดที่ระบุไว้ใน
                      พระราชบัญญัติว่าด้วยการกระทำความผิดเกี่ยวกับคอมพิวเตอร์ พ.ศ. 2550
                      และกฎหมายอื่นที่เกี่ยวข้อง
                    </p>
                  </div>

                  <div class="content">
                    10. ผู้ใช้บริการตกลงให้ผู้ให้บริการ
                    ประมวลผลข้อมูลส่วนบุคคลของผู้ใช้บริการที่มีอยู่กับผู้ให้บริการ
                    เพื่อนำมาใช้ประโยชน์เกี่ยวกับหรือเกี่ยวเนื่องกับการใช้ MEA Connect
                    และยินยอมให้ผู้ให้บริการ แจ้งข้อมูล ข่าวสาร และบริการมายังผู้ใช้บริการ
                  </div>
                  <div class="content">
                    11. หากผู้ใช้บริการไม่ปฏิบัติตามข้อตกลงและเงื่อนไขการใช้ MEA Connect
                    หรือข้อตกลงใดๆ ที่ทำไว้กับผู้ให้บริการ ผู้ใช้บริการยินยอมให้ผู้ให้บริการ
                    ระงับและ/หรือยกเลิกการใช้ MEA Connect
                    ได้โดยไม่ต้องแจ้งให้ผู้ใช้บริการทราบล่วงหน้า
                  </div>
                </div>
                <div class="content">
                  12. กรณีผู้ใช้บริการประสงค์จะเปลี่ยนแปลง ระงับ และ/หรือยกเลิกการใช้ MEA Connect
                  โดยปฎิบัติตามขั้นตอนและวิธีการที่ผู้ให้บริการ กำหนดไว้แล้ว เมื่อผู้ให้บริการ
                  ได้ดำเนินการเปลี่ยนแปลง ระงับ
                  และ/หรือยกเลิกการใช้บริการให้แก่ผู้ใช้บริการเรียบร้อยแล้ว ให้ถือว่าบรรดาหนังสือ
                  เอกสาร ข้อมูลคอมพิวเตอร์ที่ผู้ใช้บริการได้ใช้แจ้งความประสงค์ต่อผู้ให้บริการ
                  ดังกล่าวเป็นส่วนหนึ่งของข้อตกลงนี้
                </div>

                <div class="content">
                  <div class="text-center text-underline">
                    <u>คำแนะนำ</u>
                  </div>
                  โปรดอ่านและทำความเข้าใจข้อตกลงและเงื่อนไขการใช้ MEA Connect นี้อย่างละเอียด
                  การที่ท่านลงทะเบียนเพื่อขอใช้ MEA Connect ตามขั้นตอนที่ผู้ให้บริการ กำหนดไว้
                  ถือว่าท่านตกลงยอมรับ เงื่อนไขที่กำหนดไว้ในข้อตกลงฯ ข้างต้นทุกประการ
                  หากท่านไม่ยอมรับข้อตกลงฯ ที่กำหนดไว้นี้ ขอให้ปฏิเสธการลงทะเบียนขอใช้ MEA Connect
                  นี้
                </div>
                <div class="pt-2">
                  <v-button fire @click="
  show = false
                    agree = true
                  ">
                    ตกลง
                  </v-button>
                </div>
                <div class="pt-2">
                  <v-button type="grey-o" @click="
  show = false
                    agree = false
                  ">
                    ยกเลิก
                  </v-button>
                </div>
              </div>
            </b-modal>
          </div>

          <div class="pt-4">
            <v-button :loading="form.busy" :disabled="!agree" class="form-control" fire>
              หน้าถัดไป
            </v-button>
          </div>
        </form>
      </div>
    </div>
    <div v-if="currentPage == 2">
      <RegisterAl />
    </div>
    <div v-if="currentPage == 3">
      <RegisterThankyou @addhome="currentPage = 4" @verify="currentPage = 6" />
    </div>
    <div v-if="currentPage == 4">
      <AddHome iscomponent skip @skip="currentPage = 3" @verify="currentPage = 6" />
    </div>
    <div v-if="currentPage == 5">
      <OTP @next="currentPage = 3" />
    </div>
    <div v-if="currentPage == 6">
      <VerifyAccount iscomponent @skip="currentPage = 3" />
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'
import RegisterAl from './RegisterAl'
import AddHome from '../home/AddHome'
import OTP from './otp'
import VerifyAccount from '../verifyAccount/verifyAccount'

import RegisterThankyou from './RegisterThankyou'

export default {
  metaInfo() {
    return { title: 'ลงทะเบียน' }
  },
  components: {
    RegisterAl,
    RegisterThankyou,
    AddHome,
    OTP,
    VerifyAccount
  },
  data: () => ({
    isLocal: false,
    currentPage: 0,
    show: false,
    form: new Form({
      first_name: '',
      last_name: '',
      tel: '',
      email: '',
      line_user_id: 'arm'
    }),
    agree: 0,
    inputs: [
      {
        label: 'ชื่อ',
        model: 'first_name',
        type: 'text',
        icon: 'user',
        class: '',
        require: true,
        max: 40
      },
      {
        label: 'นามสกุล',
        model: 'last_name',
        type: 'text',
        icon: 'user',
        class: '',
        require: true,
        max: 40
      },
      {
        label: 'อีเมล',
        model: 'email',
        type: 'email',
        icon: 'envelope',
        class: '',
        require: true,
        pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$'
      },
      {
        label: 'เบอร์โทรศัพท์',
        model: 'tel',
        type: 'tel',
        icon: 'mobile',
        class: '',
        require: true,
        max: 10
      }
    ]
  }),
  methods: {
    ...mapActions({
      checkRegister: 'auth/checkRegister'
    }),
    async register() {
      this.form.line_user_id = this.user.id
      const { data, status } = await this.form.post(this.$path.user.register)
      if (window.console) {
        // console.clear()
      }
      if (status == 200) {
        let form = this.form
        this.currentPage = 5
      }
    }
  },
  watch: {
    async user() {
      const { data } = await axios.get(this.$path.user.registerCheck(this.user.id))

      if (data.result.isRegistered) {
        if (data.result.verify) {
          this.currentPage = 3
        } else {
          this.currentPage = 5
        }
        this.loadingStop()
      } else {
        this.currentPage = 1
      }

      this.form.email = this.user.email
    }
  },
  async created() {
    await this.initializeLiff('register', true, 'ลงทะเบียน')
    if (window.console) {
      // console.clear()
    }

    const { isLocal } = window.config
    this.isLocal = isLocal
    if (isLocal) {
      this.currentPage = 3
    }

    this.loadingStop()
    // this.loadingStart()
  }
}
</script>

<style lang="scss" scoped>
.content {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  p {
    text-indent: 20px;
    color: #555;
  }
}

.container {
  padding-right: 35px;
  padding-left: 35px;
}

i {
  padding-right: 10px;
}

.display-pro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.test {
  background-color: red;
}

.input-group-text {
  box-shadow: 0px 2px 1px #decec3;
  background-color: #ffffff;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: none !important;
  border: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-control {
  // box-shadow: 1px 2px 1px #decec3;
  border: none;
}

input {
  border-radius: 7px;
}

.policy-mea {
  // text-decoration: underline;
  color: #2c3e50;
  padding-left: 15px;
}

.custom-control-label {
  left: 15px;
}

.btn-primary.disabled,
.btn-primary:disabled {
  padding-top: 11px;
  padding-bottom: 30px;
  color: #fff;
  background-color: #ff9f5d;
  border-color: #ff9f5d;
}

.btn-primary {
  padding-top: 11px;
  padding-bottom: 30px;
  background-color: #f37022;
  border-color: #f37022;
}

.imageProfile img {
  border: 3px solid #f37022;
  border-radius: 50%;
}

span {
  font-size: 17px;
}

button {
  font-size: 20px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #f37022;
  background-color: #f37022;
}

.debug-bar {
  position: fixed;
  right: 20px;
  top: 0;

  button {
    color: #fff;
    padding: 3px 10px;
    border: 0;
    border-radius: 0 0 10px 10px;
    background-color: #2c3e50;
  }
}
</style>
